html,body{overflow-x:hidden}

/* > 1240 ------------------------------------------------------------------------------------------------------------- > 1240 */

@media only screen and (min-width: 1240px) {
	.layout-boxed{padding:25px}
	.layout-boxed.nice-scroll{padding:25px 25px 25px 15px}
	.layout-boxed.boxed-no-margin{padding:0;}
	#Top_bar.loading{display:none}
	
	.hover_color:hover .hover_color_bg,.hover_color.hover .hover_color_bg{background-color:inherit!important;border-color:inherit!important}
}

/* #Header Creative always Open	1240 - 1489 ----------------------------------------- #Header Creative always Open 1240 - 1489 */

@media only screen and (min-width: 1240px) and (max-width: 1489px) {
	body.header-open							{min-width:0;}
	.header-open #Wrapper 						{max-width:960px;}
	
	.header-open .section_wrapper,
	.header-open .container,
	.header-open.with_aside .content_wrapper	{max-width:940px;}
	
	.header-open.with_aside .section_wrapper	{max-width:100%;}

	/* -------------------- */
	
	/* Error 404 */
	.header-open #Error_404 .error_pic i{font-size:220px;line-height:260px}
	.header-open #Error_404 .error_desk{padding-top:40px}
	
	/* Google maps */
	.header-open .section.full-width .wrap.one .column_map.one .google-map-contact-wrapper{left:auto;right:50px;}
	
	/* Offer slider */
	.header-open .offer .offer_li .desc_wrapper{width:436px;width:calc(50% - 42px)}
	
	/* Portfolio list */
	body.header-open:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:921px}
	
	/* Recent posts */
	.header-open .Recent_posts ul li .desc{margin-right:60px}
	.header-open .Recent_posts ul li .photo{width:60px;height:60px}
	.header-open .Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}
}

/* < 1240 ------------------------------------------------------------------------------------------------------------- < 1240 */

@media only screen and (max-width: 1239px) {
	/* iOS phone number linking */
	a[href^=tel]{color:inherit;text-decoration:none}
	
	/* Hover Effect */
	.no-hover-tablet a.button:after,.no-hover-tablet a.tp-button:after,.no-hover-tablet button:after,.no-hover-tablet input:after{display:none}
	.no-hover-tablet .image_frame .image_wrapper img{top:0!important}
	.no-hover-tablet .image_frame:not(.no_link) .image_wrapper img:not(.ls-l){margin-bottom:0!important}
	.no-hover-tablet .image_frame .image_wrapper .mask,.no-hover-tablet .image_frame .image_wrapper .image_links{display:none!important}
	.no-hover-tablet .Recent_posts ul li .desc:after{display:none}
	.no-hover-tablet .Recent_posts ul li a:hover h6,.no-hover-tablet .Recent_posts ul li a:hover .desc .date{color:inherit!important}

	body:not(.no-hover-tablet) .hover_color:hover .hover_color_bg,
	body:not(.no-hover-tablet) .hover_color.hover .hover_color_bg{background-color:inherit!important;border-color:inherit!important}

	/* Portfolio masonry hover */
	.with_aside .portfolio_group.masonry-hover .portfolio-item:not(.no-thumbnail) .masonry-hover-wrapper .hover-desc .desc-inner .desc-wrappper{display:none}
	
	/* Section Background Image */
	.no-section-bg-tablet .section{background-image:none!important}
	
	/* Google maps */
	.section.full-width .wrap.one .column_map.one .google-map-contact-wrapper{left:auto;right:50px;}
}

/* #Desktop	960 - 1239 ---------------------------------------------------------------------------------- #Desktop	960 - 1239 */

@media only screen and (min-width: 960px) and (max-width: 1239px) {
	body 							{min-width:0; }
	#Wrapper 						{max-width:960px;}
	
	.section_wrapper,
	.container,
	.with_aside .content_wrapper	{max-width:940px;}

	/* -------------------- */
	
	/* Top bar width */
	#Top_bar .top_bar_left{width:729px}
	
	/* Blog | Columns | Grid, Masonry */
	.posts_group.grid.col-5 .post-item,.posts_group.masonry.col-5 .post-item,.posts_group.grid.col-6 .post-item,.posts_group.masonry.col-6 .post-item{width:22.99%}
	.posts_group.grid.col-5 .post-item:nth-child(5n+1){clear:none}
	.posts_group.grid.col-6 .post-item:nth-child(6n+1){clear:none}
	.posts_group.grid.col-5 .post-item:nth-child(4n+1){clear:both}
	.posts_group.grid.col-6 .post-item:nth-child(4n+1){clear:both}
	
	/* Latest News */
	.column.one-fourth .Latest_news ul .desc .date i{display:none}
	.column.one-second .Latest_news.featured ul .desc .date i{display:none}
	.wrap.two-third .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.one-second .Latest_news.featured ul,.wrap.three-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fifth .column.one-second .Latest_news.featured ul,.wrap.one-second .column.three-fourth .Latest_news.featured ul{width:100%}
	.wrap.two-fifth .Latest_news.featured ul,.wrap.one-third .Latest_news.featured ul,.wrap.one-fourth .Latest_news.featured ul{width:100%}

	/* Blog Teaser */
	.blog-teaser li:not(:first-child) .desc-wrapper .desc{padding:70px 20px 25px;}
	
	.column.two-third .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta,
	.column.three-fifth .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}
	.wrap.two-third .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta,
	.wrap.three-fifth .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}

	/* Portfolio | List */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:921px}

		/* Portfolio | Columns | Grid, Masonry, Masonry Hover */
		.portfolio_group.grid.col-5 .portfolio-item,
		.portfolio_group.masonry.col-5 .portfolio-item,
		.portfolio_group.masonry-hover.col-5 .portfolio-item,
		.portfolio_group.masonry-minimal.col-5 .portfolio-item,
		.portfolio_group.grid.col-6 .portfolio-item,
		.portfolio_group.masonry.col-6 .portfolio-item,
		.portfolio_group.masonry-hover.col-6 .portfolio-item,
		.portfolio_group.masonry-minimal.col-6 .portfolio-item{width:22.99%}
		
		/* Portfolio | Columns | Flat */			
		.portfolio_group.flat.col-5 .portfolio-item,
		.portfolio_group.flat.col-6 .portfolio-item{width:24.99%}

	/* Error 404 */
	#Error_404 .error_pic i{font-size:220px;line-height:260px}
	#Error_404 .error_desk{padding-top:40px}
	
	/* Button */
	a.button.kill_the_icon .button_icon{padding-left:10px;padding-right:10px;}
	a.button.kill_the_icon .button_label{padding-left:15px;padding-right:15px;}
	
	/* Offer slider */
	.offer .offer_li .desc_wrapper{width:436px;width:calc(50% - 42px)}
	
	/* Recent posts */
	.Recent_posts ul li .desc{margin-right:60px}
	.Recent_posts ul li .photo{width:60px;height:60px}
	.Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}
	
	/* Zoom Box */
	.zoom_box .desc .desc_txt{font-size:22px;line-height:26px}
}

/* #Desktop	> 960 -------------------------------------------------------------------------------------------- #Desktop	> 960 */

@media only screen and (min-width: 960px) {
	.hide-desktop{display:none!important}
}

/* #Tablet (Landscape) 768 - 959 --------------------------------------------------------------- #Tablet (Landscape) 768 - 959 */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	body							{min-width:0;}
	#Wrapper						{max-width:728px;}

	.section_wrapper,
	.container,
	.with_aside .content_wrapper	{max-width:708px;}
	
	/* -------------------- */

	.hide-tablet{display:none!important}
	
	/* Header magazine */
	.header-magazine #Top_bar .banner_wrapper{width:300px;top:27px}
	
	/* Top bar width */
	#Top_bar .top_bar_left{width:501px}
	.logo-overflow #Top_bar #logo img{max-width:150px!important}
	
	/* .footer-sliding */
	.footer-fixed #Content,.footer-sliding #Content{margin-bottom:0!important}
	.footer-fixed #Footer,.footer-sliding #Footer{position:static}
	
	/* Subheader */
	#Subheader .title{width:100%}
	#Subheader ul.breadcrumbs{display:none}
	
	/* Filters */
	#Filters .filters_wrapper ul li{float:left;width:24%;margin:.5%}
	
	/* Blog */
	.with_aside .classic .post-meta .author-date .author .label{display:none}
	.with_aside .classic .post-meta .category{display:none}
	
		/* Grid, Masonry */
		.grid .post-item,.masonry .post-item{width:47.9%}
		
		/* Timeline */
		.timeline .post-photo-wrapper{width:100%;float:none}
		.timeline .post-desc-wrapper{width:100%;float:none}

		/* Blog | Columns | Grid, Masonry */
		.posts_group.grid.col-4 .post-item,.posts_group.masonry.col-4 .post-item,.posts_group.grid.col-5 .post-item,.posts_group.masonry.col-5 .post-item,.posts_group.grid.col-6 .post-item,.posts_group.masonry.col-6 .post-item{width:31.33%}
		.posts_group.grid.col-4 .post-item:nth-child(4n+1){clear:none}
		.posts_group.grid.col-5 .post-item:nth-child(5n+1){clear:none}
		.posts_group.grid.col-6 .post-item:nth-child(6n+1){clear:none}
		.posts_group.grid.col-4 .post-item:nth-child(3n+1){clear:both}
		.posts_group.grid.col-5 .post-item:nth-child(3n+1){clear:both}
		.posts_group.grid.col-6 .post-item:nth-child(3n+1){clear:both}
	
		/* Blog | Columns | Masonry tiles */	
		.posts_group.masonry.tiles.col-4 .post-item,.posts_group.masonry.tiles.col-5 .post-item,.posts_group.masonry.tiles.col-6 .post-item{width:49.9%}
		.posts_group.masonry.margin.col-4 .post-item,.posts_group.masonry.margin.col-5 .post-item,.posts_group.masonry.margin.col-6 .post-item{width:48.9%}
		
	/* Latest News */	
	.column.one-third .Latest_news ul .desc .date i{display:none}
	.column.one-second .Latest_news.featured ul{width:100%}
	.column.one-third .Latest_news.featured ul .desc .date i,.column.one-fourth .Latest_news.featured ul .desc .date i{display:none}
	.wrap.five-sixth .column.three-fifth .Latest_news.featured ul,.wrap.four-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fourth .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.one-second .Latest_news.featured ul,.wrap.two-third .column.three-fourth .Latest_news.featured ul,.wrap.three-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fifth .column.one-second .Latest_news.featured ul,.wrap.three-fifth .column.three-fourth .Latest_news.featured ul{width:100%}
	.wrap.one-second .Latest_news.featured ul,.wrap.two-fifth .Latest_news.featured ul,.wrap.one-third .Latest_news.featured ul,.wrap.one-fourth .Latest_news.featured ul{width:100%}	
	
	/* Blog Teaser */
	.blog-teaser li .desc-wrapper .desc{padding:70px 25px 25px;}
	.blog-teaser li:not(:first-child) .desc-wrapper .desc{padding:70px 20px 20px;}
	.blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}
	
	.column.three-fifth .blog-teaser li .desc-wrapper .desc .post-meta .comments{display:none;}
	.wrap.three-fifth .blog-teaser li .desc-wrapper .desc .post-meta .comments{display:none;}
	
	/* Recent posts */	
	.Recent_posts ul li .desc{margin-right:40px}
	.Recent_posts ul li .photo{width:40px;height:40px}
	.Recent_posts ul li.format-link .photo{background-size:40% auto}
	.Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}	

	/* Portfolio list */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:694px}
	
		/* Grid, Masonry, Masonry Hover */
		.portfolio_group.grid.col-4 .portfolio-item,.portfolio_group.masonry.col-4 .portfolio-item,.portfolio_group.masonry-hover.col-4 .portfolio-item,.portfolio_group.masonry-minimal.col-4 .portfolio-item,.portfolio_group.grid.col-5 .portfolio-item,.portfolio_group.masonry.col-5 .portfolio-item,.portfolio_group.masonry-hover.col-5 .portfolio-item,.portfolio_group.masonry-minimal.col-5 .portfolio-item,.portfolio_group.grid.col-6 .portfolio-item,.portfolio_group.masonry.col-6 .portfolio-item,.portfolio_group.masonry-hover.col-6 .portfolio-item,.portfolio_group.masonry-minimal.col-6 .portfolio-item{width:31.33%}
		
		/* Flat */
		.portfolio_group.flat.col-4 .portfolio-item,.portfolio_group.flat.col-5 .portfolio-item,.portfolio_group.flat.col-6 .portfolio-item{width:33.33%}
	
	/* Tabs */
	.tabs_vertical.ui-tabs .ui-tabs-nav{width:33%!important}
	.tabs_vertical.ui-tabs .ui-tabs-panel{width:66.7%!important}
	
	/* Counter */
	.one-fourth .counter.counter_horizontal,.one-fifth .counter.counter_horizontal,.one-sixth .counter.counter_horizontal{text-align:center}
	.one-fourth .counter.counter_horizontal .icon_wrapper,.one-fifth .counter.counter_horizontal .icon_wrapper,.one-sixth .counter.counter_horizontal .icon_wrapper{position:static;margin:0 auto;margin-bottom:15px}
	.one-fourth .counter.counter_horizontal .desc_wrapper,.one-fifth .counter.counter_horizontal .desc_wrapper,.one-sixth .counter.counter_horizontal .desc_wrapper{padding-left:0}
	
	/* Article box */
	.one-third .article_box .photo_wrapper{width:100%;float:none;text-align:center}
	.one-third .article_box .desc_wrapper{width:100%;min-height:auto;float:none}
	
	/* Pricing table */
	.pricing-box .plan-header h2{word-wrap:break-word}
	.pricing-box .plan-header .price sup.period{position:static;top:0;display:block}
	
	/* Infobox */
	.infobox{padding-left:20px;word-wrap:break-word}
	.infobox ul li{padding-left:0;padding-right:0}
	.infobox ul li:before{display:none}
	.style-simple .infobox ul li{padding-left:0}
	
	/* Portfolio photo */
	.portfolio-photo .portfolio-item .portfolio-details:hover .details{opacity:1}
	.portfolio-photo .portfolio-item .portfolio-details .more{display:none}
	
	/* Get in touch */
	.get_in_touch{padding-left:20px;word-wrap:break-word}
	.get_in_touch ul li{padding-left:0;padding-right:0}
	.get_in_touch ul li .icon{display:none}

	/* Hover color */
	.hover_color{word-wrap:break-word}
	
	/* How it works */
	.how_it_works .image{width:116px;height:116px;line-height:114px}
	.how_it_works .image img{max-width:66px!important;max-height:66px!important}
	.how_it_works .image .number{bottom:0;right:0}
	.how_it_works.has_border:after{top:60px}
	
	.how_it_works.fill .image img{border-radius:100%;max-width:116px!important;max-height:116px!important;}
	
	/* Opening Hours */
	.opening_hours{padding-left:20px;word-wrap:break-word}
	.opening_hours .opening_hours_wrapper li span{font-size:16px;line-height:16px}
	
	/* Icon box */
	.icon_box.icon_position_left{min-height:auto;padding-left:0;padding-right:0}
	.icon_box.icon_position_left .icon_wrapper{position:static;margin-bottom:15px}
	.icon_box.icon_position_left .desc_wrapper{text-align:center;padding-top:0}
	.icon_box.icon_position_left .image_wrapper{position:static;left:0;margin-bottom:15px;width:auto;height:auto}
	
	/* List item */
/* 	.list_item:not(.lists_3) .list_left{font-size:25px;height:40px;line-height:40px;width:40px}
	.list_item .circle{height:40px;line-height:40px;width:40px}
	.list_item:not(.lists_3) .list_right{margin-left:50px;padding-top:5px} */
	
	/* Flat box */	
	.flat_box .photo_wrapper .icon{width:50px}
	.flat_box .photo_wrapper .icon i{height:40px;line-height:40px;font-size:30px;margin-top:-20px}
	.flat_box a:hover .photo_wrapper .icon{-webkit-transform:translateX(-50px);transform:translateX(-50px)}
	.flat_box .desc_wrapper{margin:0}
	.rtl .flat_box a:hover .photo_wrapper .icon{-webkit-transform:translateX(50px);transform:translateX(50px)}
	
	/* Offer thumb */
	.offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%;float:none}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper{width:100%;float:none}
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%}
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .desc_wrapper{margin-right:0;width:100%}
	
	/* Trailer box */
	.trailer_box .desc h2{font-size:22px;line-height:22px}
	
	/* Offer slider */
	.offer .offer_li .desc_wrapper{width:324px;width:calc(50% - 42px)}
	
	/* Error 404 */
	#Error_404{position:static;padding-top:50px;margin-top:0}
	#Error_404 .error_pic{width:100%;float:none}
	#Error_404 .error_pic i{font-size:260px;line-height:260px}
	#Error_404 .error_desk{width:100%;float:none;padding-top:20px;text-align:center}
	
	/* Buttons */
	a.kill_the_icon .button_icon,.widget-area a.button .button_icon{display:none}
	.button-stroke a.button_left.button.kill_the_icon .button_label{padding-left:20px}
	.button-stroke a.button_left.button_large.kill_the_icon .button_label{padding-left:30px}
	.button-stroke a.button_right.button.kill_the_icon .button_label{padding-right:20px}
	.button-stroke a.button_right.button_large.kill_the_icon .button_label{padding-right:30px}
	.button-flat a.button_left.button.kill_the_icon .button_label{padding-left:20px}
	.button-flat a.button_left.button_large.kill_the_icon .button_label{padding-left:30px}
	.button-flat a.button_right.button.kill_the_icon .button_label{padding-right:20px}
	.button-flat a.button_right.button_large.kill_the_icon .button_label{padding-right:30px}
	
	/* Zoom Box */
	.zoom_box .desc .desc_txt{font-size:18px;line-height:22px}
	
	/* Easy Digital Downloads */
	.edd_downloads_list .edd_download{width:50%!important}
	.edd_downloads_list .edd_download:nth-child(5n+3){clear:both}
	.edd_downloads_list .edd_download .edd_download_inner{margin:0 5% 20px}
}

/* #Desktop & Tablet (Landscape) > 768 --------------------------------------------------- #Desktop & Tablet (Landscape) > 768 */

@media only screen and (min-width: 768px) {
	.section.full-width-ex-mobile > .section_wrapper{max-width:100%!important}
	.section.full-width-ex-mobile > .one.column,.section.full-width-ex-mobile > .section_wrapper > .one.column,.section.full-width-ex-mobile .one.wrap .one.column{width:100%;margin:0}
	
	/* Transparent ---------- */
	.tr-menu #Top_bar .wpml-languages a.active,.tr-menu #Top_bar .wpml-languages ul.wpml-lang-dropdown{background-color:transparent}
	
	/* Header | Placeholder */
	.header-creative .header_placeholder,
	.header-empty .header_placeholder,
	.header-fixed .header_placeholder,
	.header-modern .header_placeholder,
	.header-semi .header_placeholder,
	.header-simple .header_placeholder,
	.header-transparent .header_placeholder{height:0!important}
	
	.tr-menu .header_placeholder{height:0!important}
	
	/* Header | Classic */
	.tr-menu.header-classic #Top_bar{position:absolute}
	.tr-menu.header-classic #Top_bar:not(.is-sticky){top:0!important;background:none!important}
	.tr-menu.header-classic.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-classic.minimalist-header:not(.template-slider) #Header{min-height:135px}
	
	/* Header | Plain */
	.tr-menu.header-plain #Top_bar{position:absolute}
	.tr-menu.header-plain #Top_bar:not(.is-sticky){top:0!important;background:none!important}
	.tr-menu.header-plain.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-plain.minimalist-header:not(.template-slider) #Header{min-height:125px}
	.header-plain #Top_bar,.header-plain #Top_bar .menu > li > a span:not(.description),.header-plain #Top_bar a#header_cart,.header-plain #Top_bar a#search_button,.header-plain #Top_bar .wpml-languages,.header-plain #Top_bar a.button.action_button{border-color:rgba(255,255,255,.1)}
	
	/* Header | Split */
	.tr-menu.header-split #Top_bar{position:absolute}
	.tr-menu.header-split #Top_bar:not(.is-sticky){top:0!important;background:none!important}
	.tr-menu.header-split.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-split.minimalist-header:not(.template-slider) #Header{min-height:135px}
	
	/* Header | Semitransparent */
	.header-semi #Top_bar:not(.is-sticky){position:absolute;background-color:rgba(255,255,255,0.8)}
	.header-semi.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.header-semi.ab-hide #Top_bar:not(.is-sticky){top:0!important}		
	
	/* Header | Stack */
	.tr-menu.header-stack #Top_bar{position:absolute}
	.tr-menu.header-stack #Top_bar:not(.is-sticky){top:0!important;background:none!important}
	.tr-menu.header-stack.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-stack.minimalist-header:not(.template-slider) #Header{min-height:196px}	
}

/* #Tablet (Portrait) & Mobile < 768 ------------------------------------------------------- #Tablet (Portrait) & Mobile < 768 */

@media only screen and (max-width: 767px) {
	body 							{min-width:0;}
	#Wrapper						{max-width:90%;max-width:calc(100% - 67px);}
	
	.section_wrapper .mcb-wrap,
	.section_wrapper .column,
    .container .column,
	.sections_group,
	.four.columns					{margin:0;width:100%!important;clear:both;}
	.aside_both .sections_group		{margin:0 auto!important;}
	
	.section_wrapper,
	.container,
	.four.columns .widget-area		{max-width:700px!important;padding-left:33px!important;padding-right:33px!important}

	.left-sidebar .items_group,
	.right-sidebar .items_group,
	.with_aside .content_wrapper 	{max-width:100%;}

	.section_wrapper .column		{margin:0 0 20px;height:auto!important;}
	
	.four.columns					{margin:auto 0!important;}

	/* -------------------- */

	.boxed2fw{padding:0!important}
	.boxed2fw #Wrapper{margin:0!important;max-width:100%!important;width:100%!important}
	
	.column_placeholder > .placeholder{height:0}

	/* Sections */
	.section{background-attachment:scroll!important;height:auto!important}
	.highlight-left .section_wrapper,.highlight-right .section_wrapper{max-width:100%!important;padding:0!important}
	.highlight-left .section_wrapper .wrap,.highlight-right .section_wrapper .wrap{padding:0 33px}
	.highlight-left.full-screen > .section_wrapper,.highlight-right.full-screen > .section_wrapper{padding:0!important}
	.equal-height-wrap .mcb-wrap{height:auto!important}
	.equal-height-wrap .mcb-wrap .mcb-wrap-inner{top:0!important;-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important}
	.section.has-navi .section-nav.prev{top:10px}
	.section.has-navi .section-nav.next{bottom:10px}
	
	/* .hide-mobile{display:none!important} */
	.hide-mobile{display:block!important;height:0!important;min-height:0!important;margin:0!important;padding:0!important;overflow:hidden!important}
	
	/* Sidebar */
	.widget-area{min-height:0!important;margin:30px auto!important;border:0!important;box-sizing:content-box;}
	.widget-area:after,.widget-area:before{display:none}
	.widget:after{width:100%}
		
	/* Header | Placeholder */
	.mobile-tr-header .header_placeholder,
	body:not(.mobile-sticky) .header_placeholder{height:0!important}

	/* Header --------------- */
	
	#Top_bar,#Action_bar{background:#fff!important;position:static}
	#Top_bar .container{max-width:100%!important;padding:0!important}
	#Top_bar .top_bar_left{float:none;width:100%!important;background:none!important}

	#Top_bar a.responsive-menu-toggle{right:20px;}
	#Top_bar a.responsive-menu-toggle.is-sticky{position:fixed;top:30px;left:10px;}
	.admin-bar #Top_bar a.responsive-menu-toggle.is-sticky{top:56px}

	#Top_bar .menu_wrapper{float:left!important;width:100%;margin:0!important}
	#Top_bar #menu{float:left;position:static!important;width:100%!important;padding-bottom:20px}
	#Top_bar .logo{position:static;float:left;width:100%;text-align:center;margin:0}
	#Top_bar .logo #logo{padding:0!important;margin:10px 50px}
	/* #Top_bar .logo #logo img{height:auto!important} */
	#Top_bar #logo img.logo-main{display:none}
	#Top_bar #logo img.logo-mobile{display:inline-block}
	#Top_bar #logo img.logo-mobile-sticky{display:none}
	
	#Header_creative #Top_bar #logo img.logo-sticky{display:none}

	.mobile-sticky #Top_bar.is-sticky #logo img:not(.svg){width:auto!important}
	.mobile-sticky #Top_bar.is-sticky #logo img.logo-mobile{display:none}
	.mobile-sticky #Top_bar.is-sticky #logo img.logo-mobile-sticky{display:inline-block}

	.logo-overflow #Top_bar .logo{height:auto!important}
	#Top_bar .search_wrapper{top:auto;bottom:-129px}
	
	#Top_bar .top_bar_right{float:none;top:0;height:60px!important;padding:0 10px}
	#Top_bar .top_bar_right .top_bar_right_wrapper{float:right;margin-right:-10px}
	#Top_bar .top_bar_right:before{display:none}
	#Top_bar .top_bar_right_wrapper{top:0!important}
	
	#Top_bar a#header_cart{top:20px}
	#Top_bar a#search_button{top:19px}
	#Top_bar a.button.action_button{top:9px}
	#Top_bar .wpml-languages{top:11px}
	#Top_bar .wpml-languages a.active{height:15px;line-height:17px}
	
	.mobile-tb-left #Top_bar .top_bar_right .top_bar_right_wrapper{float:left}
	.mobile-tb-center #Top_bar .top_bar_right{text-align:center}
	.mobile-tb-center #Top_bar .top_bar_right .top_bar_right_wrapper{display:inline-block;float:none}
	.mobile-tb-hide #Top_bar .top_bar_right{display:none}

		/* Header | Below */
		body.header-below:not(.template-slider) #Header{padding-top:0}
		
		/* Header | Creative */
		.header-creative #Header_creative{position:static}
		.header-creative.layout-boxed{padding-top:0}
		.header-creative.layout-boxed #Wrapper{margin-top:25px}
		.header-creative.layout-full-width #Wrapper{padding-top:0!important}
		#Header_creative #Top_bar .responsive-menu-toggle{top:35px}
		#Header_creative #Top_bar .responsive-menu-toggle.is-sticky{position:fixed;top:10px;left:10px;margin-top:0;}
		.admin-bar #Header_creative #Top_bar .responsive-menu-toggle.is-sticky{top:56px}
		#Header_creative #Top_bar .top_bar_left{margin-top:0;overflow:hidden}
		#Header_creative #Top_bar .logo #logo{padding:0;}
		#Header_creative #Top_bar .logo #logo img{max-height:50px}
		#Header_creative #Top_bar #menu{position:static;width:100%}
		
		.admin-bar #Header_creative{top:0!important}
		
		/* Header | Intro */
		#Intro{min-height:auto!important}
		#Intro .intro-inner{padding:100px 30px!important}
		#Intro .intro-next{font-size:25px;bottom:10px}
		
		/* Header | Magazine */
		.header-magazine #Top_bar .banner_wrapper{width:100%;height:auto;text-align:center;position:static;margin-bottom:20px}
		
		/* Header | Minimalist */
		body.minimalist-header.header-classic:not(.template-slider) #Header,body.minimalist-header.header-creative:not(.template-slider) #Header,body.minimalist-header.header-plain:not(.template-slider) #Header,body.minimalist-header.header-split:not(.template-slider) #Header{min-height:0}
		body.minimalist-header.header-simple:not(.template-slider) #Header{min-height:90px}
		body.minimalist-header.header-transparent #Header{min-height:0!important}
		.minimalist-header-no #Subheader{padding:80px 0!important}
		
		/* Header | Overlay */
		.header-overlay .overlay-menu-toggle{top:10px;right:5px}
		#overlay-menu ul li a{font-size:22px;line-height:36px}
		
		/* Header | Plain */
		.header-plain #Top_bar .logo{text-align:left}
		.header-plain #Top_bar .logo #logo{padding:5px 42px 15px 15px}
		.header-plain #Top_bar .top_bar_right .top_bar_right_wrapper{line-height:0}
		.header-plain #Top_bar .top_bar_right{height:50px!important}
		.header-plain #Top_bar a#header_cart,.header-plain #Top_bar a#search_button{padding:0 10px;line-height:50px!important}
		.header-plain #Top_bar .wpml-languages{padding:0 10px;height:50px!important}
		.header-plain #Top_bar .wpml-languages a.active{line-height:50px}
		.header-plain #Top_bar a.button.action_button{height:50px!important;line-height:50px!important}
		.header-plain #Top_bar a.button.action_button .button_label{padding:0 12px}
		.header-plain #Top_bar .top_bar_right_wrapper > *:last-child {
   			border-right-width: 1px;
		}
		
		/* Header | Simple */
		.header-simple #Top_bar .top_bar_left{top:0!important}
		
		/* Header | Split */
		.header-split #Top_bar a#search_button{display:none}
		
		/* Header | Stack */
		.header-stack #Top_bar .logo{padding:0;text-align:center!important}
		.header-stack #Top_bar .logo #logo{display:block}
		.header-stack #Top_bar a.responsive-menu-toggle{position:absolute!important;margin-top:-17px!important}
		.header-stack #Top_bar a.responsive-menu-toggle.is-sticky{position:fixed!important;margin-top:0!important}
		.header-stack #Top_bar .secondary_menu_wrapper{display:none}
		.header-stack #Top_bar .top_bar_right{position:static}
		
		/* Header mobile | minimal */
		.mobile-header-mini #Action_bar{display:none}
		.mobile-header-mini #Top_bar{top:0}
		.mobile-header-mini #Top_bar .container{max-width:100%!important;}
		.mobile-header-mini #Top_bar .top_bar_left{float:left;position:static;}
		.mobile-header-mini #Top_bar .logo{width:auto;float:left;margin-left:15px;border:none;}
		.mobile-header-mini #Top_bar #logo{height:60px!important;line-height:60px!important;margin:0}
		.mobile-header-mini #Top_bar a.responsive-menu-toggle{top:30px!important;left:auto;right:10px;margin-top:-17px;}
		
		.mobile-header-mini #Top_bar .top_bar_right{position:absolute;top:0;right:54px;background:none;padding:0;}
		.mobile-header-mini #Top_bar a.button.action_button{display:none;}

		.mobile-header-mini #Top_bar #header_cart{margin-right:-1px;}
		.mobile-header-mini #Top_bar #search_button{margin-left:0;margin-right:0;}
		.mobile-header-mini #Top_bar .wpml-languages{top:13px;margin-right:0;}
		.mobile-header-mini #Top_bar .wpml-languages a.active,
		.mobile-header-mini #Top_bar .wpml-languages ul.wpml-lang-dropdown{border:none;}
			
		.mobile-header-mini #Top_bar #menu{padding-bottom:10px;}
		.mobile-header-mini #Top_bar #menu ul li a span{line-height:44px;}
		.mobile-header-mini #Top_bar #menu ul li.submenu .menu-toggle{line-height:44px;right:3px;}

		.mobile-header-mini #Top_bar .search_wrapper{bottom:-59px;padding:10px;width:100%;}
		.mobile-header-mini #Top_bar .search_wrapper .icon_search{left:10px;top:17px;}
		.mobile-header-mini #Top_bar .search_wrapper .icon_close{top:17px;}
		
			/* Header mobile | minimal | style */
			.mobile-header-mini.mobile-mini-mr-lr #Top_bar .logo{float:right;margin-left:0;margin-right:54px;}
			.mobile-header-mini.mobile-mini-mr-lr #Top_bar .top_bar_right{left:10px;right:auto;}
			
			.mobile-header-mini.mobile-mini-mr-lc #Top_bar .logo{float:none;margin-left:0;margin-right:0;}
			.mobile-header-mini.mobile-mini-mr-lc #Top_bar .top_bar_right{left:10px;right:auto;}
			
			.mobile-header-mini.mobile-mini-ml-ll #Top_bar a.responsive-menu-toggle{left:10px;right:0;}
			.mobile-header-mini.mobile-mini-ml-ll #Top_bar .logo{margin-left:54px!important}
			.mobile-header-mini.mobile-mini-ml-ll #Top_bar .top_bar_right{right:15px;}
			
			.mobile-header-mini.mobile-mini-ml-lc #Top_bar a.responsive-menu-toggle{left:10px;right:0;}
			.mobile-header-mini.mobile-mini-ml-lc #Top_bar .logo{float:none;margin-left:0;margin-right:0;}
			.mobile-header-mini.mobile-mini-ml-lc #Top_bar .top_bar_right{right:15px;}
			
			.mobile-header-mini.mobile-mini-ml-lr #Top_bar a.responsive-menu-toggle{left:10px;right:0;}
			.mobile-header-mini.mobile-mini-ml-lr #Top_bar .logo{float:right;margin-left:0;margin-right:15px;}
			.mobile-header-mini.mobile-mini-ml-lr #Top_bar .top_bar_right{left:49px;right:auto;}
		
				/* Header mobile | minimal | headers compatibility */	
				.mobile-header-mini.header-plain #Top_bar .top_bar_right{margin-right:5px;}
				.mobile-header-mini.header-plain #Top_bar a#header_cart{line-height:60px!important;border:none;padding:0 5px;}
				.mobile-header-mini.header-plain #Top_bar a#search_button{line-height:60px!important;border:none;padding:0 3px;}
				.mobile-header-mini.header-plain #Top_bar .wpml-languages{height:60px!important;border:none;padding:0 5px 0 10px;top:0;}
				.mobile-header-mini.header-plain #Top_bar .wpml-languages a.active{line-height:60px!important}
				.mobile-header-mini.header-plain #Top_bar .wpml-languages:hover a.active{background:none;}
				
				.mobile-header-mini #Header_creative #Top_bar{width:100%;margin:0;}
				.mobile-header-mini #Header_creative #Top_bar #header_cart{top:20px;}
				.mobile-header-mini #Header_creative #Top_bar #search_button{top:19px;}
				.mobile-header-mini #Header_creative #Top_bar .wpml-languages{top:13px;}
				
				.mobile-header-mini .overlay-menu-toggle{font-size:22px;top:8px;margin:0!important;}
				
		/* Header mobile | sticky */
		.mobile-sticky #Top_bar.is-sticky{position:fixed !important;}
		.mobile-sticky #Top_bar.is-sticky #logo{margin-top:0;margin-bottom:0;height:60px!important;line-height:60px!important;}
		.mobile-sticky #Top_bar.is-sticky a.responsive-menu-toggle{top:30px!important;}
		.mobile-sticky #Top_bar.is-sticky .top_bar_right{display:none;}
		.mobile-sticky #Top_bar #menu{overflow:auto;-webkit-box-sizing:border-box;box-sizing:border-box;}
		
		.mobile-header-mini.mobile-sticky #Top_bar .top_bar_right{display:block}
		
		/* Header mobile | transparent */
		.mobile-tr-header #Action_bar,.mobile-tr-header #Top_bar,.mobile-tr-header #Top_bar .top_bar_right{background:none!important}
		.mobile-tr-header #Top_bar{position:absolute;top:50px}
		.mobile-tr-header.ab-hide #Top_bar{top:0}
		.mobile-tr-header #Action_bar{position:absolute}
		.mobile-tr-header #Action_bar .contact_details li,.mobile-tr-header #Action_bar .social li a,.mobile-tr-header #Top_bar .top_bar_right a{color:rgba(255,255,255,0.3)}
		.mobile-tr-header #Action_bar .social li a:hover,.mobile-tr-header #Top_bar .top_bar_right a:hover{color:#fff!important}
		.mobile-tr-header #Top_bar .wpml-languages a.active,.mobile-tr-header #Top_bar .wpml-languages ul.wpml-lang-dropdown{background:none}
		.mobile-tr-header.header-creative.layout-full-width #Wrapper{padding-top:0}
		
		/* Header mobile | transparent | plain */
		.mobile-tr-header.header-plain #Top_bar,.mobile-tr-header.header-plain #Top_bar .top_bar_right_wrapper > *{border:none!important;background:none!important}
		
		/* Header mobile | transparent | creative */
		.mobile-tr-header #Header_creative{background:none!important;position:absolute}
	
	/* Action Bar */
	#Action_bar .contact_details li,#Action_bar .social{padding:0!important}
	#Action_bar .contact_details{float:none;text-align:center;padding:5px 0;color:#222;}
	#Action_bar .contact_details li{padding:0}
	#Action_bar .contact_details li.slogan{display:none}
	#Action_bar .social{float:none;text-align:center;padding:5px 0 0;margin-bottom:5px}
	#Action_bar .social li{margin-right:5px}
	#Action_bar .social li a{color:rgba(0,0,0,.3)}
	#Action_bar .social li a:hover{color:rgba(0,0,0,.8)}
	#Action_bar .social-menu{float:none;text-align:center;padding:5px 0 0}

	/* Subheader */
	body:not(.template-slider):not(.header-simple) #Header{min-height:350px;background-position:center 202px}
	#Subheader .title{width:100%}
	#Subheader ul.breadcrumbs{display:none}
	
	/* Footer --------------- */
	#Footer .footer_copy{text-align:center}
	#Footer .footer_copy .copyright{float:none;margin:0 0 10px}
	#Footer .footer_copy .social{float:none;margin:0}
	#Footer .footer_copy .social-menu{float:none;margin:0}
	
	/* Footer | Sliding */
	.footer-fixed #Content,.footer-sliding #Content{margin-bottom:0!important}
	.footer-fixed #Footer,.footer-sliding #Footer{position:static}
	
	/* Back to top */
	#back_to_top{float:none;margin:-10px 0 10px}
	#back_to_top.in_footer,#back_to_top.sticky{right:20px!important;margin:0}
	
	/* Blog --------------- */
	
	.classic .post-photo-wrapper{width:100%;float:none}
	.classic .post-desc-wrapper{width:100%;float:none}
	.classic .post-meta .author-date .author .label{display:none}
	.classic .post-meta .category{display:none}
	.classic .post-desc-wrapper .post-footer .button-love .love-text{display:none}
	.classic .post-desc-wrapper .post-desc{padding:15px 0 0}
	
		/* Blog | Timeline */
		.timeline .post-item{padding-left:0;background:none}
		.timeline .post-item:before{display:none}
		.timeline .post-photo-wrapper{width:100%;float:none}
		.timeline .post-desc-wrapper{width:100%;float:none}
		.timeline .post-item .date_label{display:inline-block;position:static;margin-bottom:10px}
		.timeline .post-meta .category{display:none}
		.timeline .post-desc-wrapper .post-footer .button-love .love-text{display:none}
		.timeline .post-desc-wrapper .post-desc{padding:15px 0 0}
		.style-simple .timeline_items li{width:100%;padding:0!important;background:none!important}
		.style-simple .timeline_items li h3 span{display:block;position:static}
		.style-simple .timeline_items li:nth-child(even){padding:0}
		.style-simple .timeline_items li:nth-child(even) .desc{text-align:right}
		
		/* Blog | Masonry */
		.grid .post-item,.masonry .post-item{width:100%!important;margin:0 0 20px!important}
		
		/* Blog | Masonry tiles */
		.masonry.tiles .post-item{width:100%!important}
		
		/* Blog | Photo */
		.photo .post-desc .post-head{margin-bottom:5px}
		.photo .post-desc .post-head .post-meta .category{display:none}
		.photo .post-desc .post-head .post-meta .author-date{margin-right:10px}
				
		/* Blog single */
		.single-post .format-image .single-photo-wrapper .image_frame{display:block}
		.single-post .format-link .single-photo-wrapper,.single-post .format-quote .single-photo-wrapper{display:none}
	
		/* Post header */
		.post-header .button-love{width:69px}
		.post-header .title_wrapper{margin-left:69px;padding-left:20px}
		.post-header .title_wrapper h1{font-size:27px;line-height:27px}
		.post-header .post-meta .category{display:none}
	
		/* Single photo wrapper */
		.single-photo-wrapper .image_frame{max-width:100%!important;margin-left:0}
		.single-photo-wrapper .share_wrapper{float:none;padding:5px 15px 0;margin-bottom:20px;width:auto}
		.no-share-mobile .single-photo-wrapper .share_wrapper{display:none}
		.wp-caption-text.hide-mobile{display:none}
	
		/* Post nav */
		.post-nav{padding:10px 10px 4px 90px}

	/* Portfolio --------------- */
		
	.portfolio_group .portfolio-item{width:100%!important;margin:0 0 20px!important;float:none}
	.section.full-width .portfolio_group .portfolio-item{width:100%!important}
	.portfolio_group .portfolio-item .list_style_header{padding-right:0;min-height:inherit}
	.portfolio_group .portfolio-item .list_style_header h3{margin:0}
	.portfolio_group .portfolio-item .list_style_header .links_wrapper{display:none}
	.portfolio_group .portfolio-item .desc .desc-wrapper{margin-right:0}
	.portfolio_group .portfolio-item .desc .details-wrapper{float:none;width:100%;padding-left:0;border-left-width:0;border-bottom-width:1px;padding-bottom:15px;margin-bottom:15px}
	.portfolio_group.list .portfolio-item .desc{padding-top:10px}
	.portfolio_group.list .portfolio-item .portfolio-item-fw-bg{background-image:none!important;padding-bottom:0}
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:380px}
	
		/* Project decription */
		.project-description li,.project-description li.one-third{width:100%;border-width:0 0 1px}
		.project-description li:last-child{border-bottom:0}
	
		/* Portfolio | Exposure */
		.portfolio_group.exposure .portfolio-item{margin:0!important;overflow:hidden}
		.portfolio_group.exposure .portfolio-item .desc-inner .desc-wrappper{display:none}
		.portfolio_group.exposure .portfolio-item .desc-inner .desc-wrapper-inner{padding:0}
		.portfolio_group.exposure .portfolio-item .details-wrapper{display:none}
		.portfolio_group.exposure .portfolio-item .image-wrapper{margin:0 -100px}
		.full-width .portfolio_group.exposure .portfolio-item .desc-inner{top:30px}
		
		/* Portfolio | Flat */
		.portfolio_group.flat .portfolio-item{margin-bottom:0!important}
		
		/* Portfolio | Grid */
		ul.portfolio_grid li{width:100%!important;float:left}

		/* Portfolio | Masonry Flat */
		.portfolio_group.masonry-flat .portfolio-item{width:49.9%!important;margin:0!important}
		.portfolio_group.masonry-flat .portfolio-item.wide{width:99.8%!important}
		.portfolio_group.masonry-flat .portfolio-item.tall .portfolio-item-fill{padding-bottom:calc(156% - 1px)}
		
		/* Portfolio | Photo */
		.portfolio-photo .portfolio-item .portfolio-details .details{display:none}
		.portfolio-photo .portfolio-item .portfolio-details .more{opacity:1}

	/* Shortcodes --------------- */
	
	/* Blog Teaser */
	.blog-teaser li{width:100%!important}
	.blog-teaser li:not(:first-child){margin-top:10px}
	.blog-teaser.margin-no li{margin-top:0}

	/* Call to action */
	.call_to_action .call_left,.call_to_action .call_center,.call_to_action .call_right{display:block;width:100%}
	.call_to_action .call_left{margin-bottom:20px}
	.call_to_action .call_center{margin-bottom:20px}
	.call_to_action .call_right{margin-bottom:0;text-align:center}

	/* Clients */
	ul.clients:not(.clients_slider_ul) li{width:50%!important}
	
	/* Content slider */
	.content_slider{padding:0!important;margin:0 0 50px}
	.content_slider .slider_pagination{padding:0 20%;box-sizing:border-box;}
	
	.content_slider a.button{top:auto!important;bottom:-60px;}
	.content_slider a.slider_prev{left:0!important}
	.content_slider a.slider_next{right:0!important}
	.content_slider a.button .button_icon{padding:7px 9px}
	
	.content_slider.flat a.button,.content_slider.carousel a.button{bottom:-50px}
	.content_slider.flat a.button .button_icon{font-size:30px}
	
	.content_slider.center{margin-bottom:0}
	.content_slider.center a.button{display:none!important}
	
	/* Divider */
	.hr_full hr,.aside_left .hr_full hr,.aside_right .hr_full hr{position:absolute;left:-1000px;top:0;width:3000px}
	
	/* Fancy headings */
	.fancy_heading h2{font-size:30px;line-height:30px}
	
	/* Features lists */
	.feature_list ul li{width:100%!important;float:none;border-bottom:1px solid rgba(0,0,0,0.08)}
	.feature_list hr{display:none}
	
	/* Flat Box */
	.flat_box .desc_wrapper{margin:0}
	
	/* Google maps */
	.google-map-contact-wrapper{position:static;margin-left:0!important;}
	.google-map-contact-wrapper .get_in_touch{float:none;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
	.google-map-contact-wrapper .get_in_touch:after{display:none;}
	
	/* How it works */
	.how_it_works .image,.with_aside .how_it_works .image{width:196px;height:196px;line-height:194px}
	.how_it_works .image img{max-width:116px!important;max-height:116px!important}
	.how_it_works .image .number,.with_aside .how_it_works .image .number{bottom:10px;right:10px}
	.how_it_works.has_border:after{display:none}
	
	.with_aside .how_it_works .image img{max-width:116px!important;max-height:116px!important}
	.with_aside .how_it_works.fill .image img{max-width:196px!important;max-height:196px!important}
	
	/* Offer slider */
	.offer .offer_li .image_wrapper{width:100%;float:none;margin-bottom:15px;overflow:hidden}
	.offer .offer_li .desc_wrapper{width:90%;width:calc(100% - 67px)!important;margin:0 auto;float:none;clear:both}
	.offer .offer_li .desc_wrapper .title{padding-right:0;margin-bottom:15px}
	.offer .offer_li .desc_wrapper .title h3{margin-bottom:15px;font-size:27px;line-height:27px}
	.offer .offer_li .desc_wrapper .title a.button{position:relative}
	.offer a.slider_prev{left:20px;top:20px;margin:0}
	.offer .slider_pagination{left:20px;top:65px;margin:0}
	.offer a.slider_next{left:20px;top:111px;margin:0}
	.button-stroke .offer a.slider_prev{margin-top:-8px}
	.button-stroke .offer a.slider_next{margin-top:6px}
	
	/* Icon box */
	.icon_box.has_border:after{display:none}
	
	/* Image Frame */
	.image_frame{margin-top:0!important}
	
	/* Offer thumb */
	.offer_thumb{padding-left:0}
	.offer_thumb_ul li.offer_thumb_li{padding-left:0}
	.offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%;float:none}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper{width:100%;float:none}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title{padding-right:0}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3{margin-bottom:15px}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title a.button{position:relative}
	.offer_thumb .slider_pagination{margin-top:20px;line-height:inherit}
	
	/* Offer thumb bottom */
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%}
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .desc_wrapper{margin-right:0;width:100%}
	
	/* Pricing table */
	.pricing-box-label .plan-header,.pricing-box-label .plan-footer{display:none}
	.pricing-box-label ul li{text-align:center!important}

	/* Promo box */
	.promo_box.has_border:after{display:none}
	.promo_box_wrapper{overflow:visible}
	.promo_box_wrapper .photo_wrapper{width:100%;float:none;line-height:0;margin-bottom:15px}
	.promo_box_wrapper .desc_wrapper{width:100%;margin:0!important;float:none;padding-top:0}
	
	/* Story Box */
	.story_box{padding:0 11%!important}
	.story_box .desc_wrapper{margin-right:0!important}
	
	/* Table */
	.table-responsive table{overflow-x:auto;display:block}
	.table-responsive table a.kill_the_icon .button_icon{display:none}
	
	/* Tabs */
	.ui-tabs .ui-tabs-nav{background:none}
	.ui-tabs .ui-tabs-nav li{float:none!important;width:100%!important;border-width:0 0 1px}
	.ui-tabs .ui-tabs-nav li:last-child{border-bottom:0}
	.ui-tabs .ui-tabs-nav li a{text-align:center;background-image:url(../images/bg_panel.png);background-repeat:repeat-x;background-position:left top}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-active a{background-image:none}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected:after,.ui-tabs .ui-tabs-nav li.ui-state-active:after{display:none}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:after,.ui-tabs .ui-tabs-nav li.ui-state-disabled a:after,.ui-tabs .ui-tabs-nav li.ui-state-processing a:after,.ui-tabs .ui-tabs-nav li.ui-state-active a:after{display:none}

	/* Tabs: simple-style */
	.style-simple .ui-tabs .ui-tabs-nav li a{background-image:none}
	.style-simple .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:after,.style-simple .ui-tabs .ui-tabs-nav li.ui-state-disabled a:after,.style-simple .ui-tabs .ui-tabs-nav li.ui-state-processing a:after,.style-simple .ui-tabs .ui-tabs-nav li.ui-state-active a:after{display:block}
	
	/* Tabs vertical: simple-style */
	.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li a{text-align:center;padding-right:20px}
	.style-simple .tabs_vertical.ui-tabs .ui-tabs-panel{border-width:1px 0 0!important}
	.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:after,.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-disabled a:after,.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-processing a:after,.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-active a:after{display:block;width:100%;height:2px;left:0;top:auto;bottom:0;right:auto}
	
	/* Testimonials list */
	.testimonials_list .item{margin-bottom:30px}
	.testimonials_list .item .photo{width:100%;float:none;margin-bottom:10px}
	.testimonials_list .item .desc{width:100%;float:none;margin-bottom:0}
	
	/* Timeline */
	.timeline_items{background-position:91px top}
	.timeline_items li{padding:0 0 25px 150px !important;background:url(../images/timeline_right.png) no-repeat!important;background-position:50px top!important;width:auto}
	.timeline_items li h3 span{left:0!important;right:auto}
	.timeline_items li h3,.timeline_items li:nth-child(even) h3{text-align:left}
	.timeline_items li h3:before{left:93px}
	.timeline_items li .desc,.timeline_items li:nth-child(even) .desc{text-align:left}
	.timeline_items li .desc:before{display:none}
	.timeline_items:after{left:93px}

	/* General -------------------- */

	/* Error 404 */
	#Error_404{position:static;padding-top:20px;margin-top:0}
	#Error_404 .error_pic{width:100%;float:none}
	#Error_404 .error_pic i{font-size:160px;line-height:160px}
	#Error_404 .error_desk{width:100%;float:none;padding-top:20px;text-align:center}
	#Error_404 .error_desk h2{font-size:30px;line-height:30px}
	#Error_404 .error_desk h4{font-size:19px;line-height:25px}
	#Error_404 .error_desk p .check{line-height:22px;font-size:16px;margin-bottom:15px;display:block}

	/* Filters */
	#Filters .filters_wrapper ul li{float:left;width:49%;margin:.5%}

	/* Fixed nav */
	.fixed-nav{display:none!important}
	
	/* Popup contact */
	#popup_contact{display:none}
	
	/* Search Results */
	.search-not-found .snf-pic{width:100%;float:none}
	.search-not-found .snf-pic i{font-size:260px;line-height:260px}
	.search-not-found .snf-desc{width:100%;float:none;padding-top:20px;text-align:center}
	
	/* Video */
	/* In this case, the aspect ratio is 16:9, which means that the height will be 56.25% of the width. For a video with a 4:3 aspect ratio, we set padding-bottom to 75%. */
	.content_video.iframe{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}
	.content_video.iframe iframe{position:absolute;top:0;left:0;width:100%;height:100%}

	/* WordPress Admin Bar */
	.admin-bar #wpadminbar{z-index:9999!important;position:fixed}
	
	/* Plugins --------------- */

	/* bbPress */
	.bbpress ul{font-size:13px}
	.bbpress li.bbp-forum-info,.bbpress li.bbp-topic-title{width:44%}
	.bbpress li.bbp-forum-topic-count,.bbpress li.bbp-topic-voice-count,.bbpress li.bbp-forum-reply-count,.bbpress li.bbp-topic-reply-count{width:15%}
	.bbpress .bbp-body li.bbp-forum-freshness,.bbpress .bbp-body li.bbp-topic-freshness{line-height:16px;font-size:11px}
	
	/* Easy Digital Downloads */
	.edd_downloads_list .edd_download{width:100%!important}
	.edd_downloads_list .edd_download .edd_download_inner{margin:0 8% 20px}
	
	/* Pretty Photo Popup */
	
	/* Tiny popup on mobile | fix */
	.pp_pic_holder{width:90%!important;left:5%!important;overflow:hidden}
	.pp_content{width:98%!important;height:auto!important}
	.pp_fade{width:100%!important;height:100%!important}
	a.pp_expand,a.pp_contract,.pp_hoverContainer,.pp_gallery{display:none!important}
	#pp_full_res img{width:100%!important;height:auto!important}
	.pp_details{width:100%!important;position:static!important;min-height:25px}
	.pp_details a.pp_close{top:auto;right:25px}
	
	/* Theme Options size | fix */
	div.pp_pic_holder,div.pp_content,div.pp_details{max-width:100%}
	div.pp_content{overflow:auto}
	
}

/* #Tablet (Portrait) & Mobile (Landscape) 480 - 768 ----------------------- #Tablet (Portrait) & Mobile (Landscape) 480 - 768 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* Respond */
	#respond .comment-form-author{width:100%;margin-right:0;float:none}
	#respond .comment-form-email{width:100%;margin-right:0;float:none}
	#respond .comment-form-url{width:100%;float:none}
	#respond input[type="text"],#respond input[type="password"],#respond input[type="email"],#respond select{width:100%}
	#respond .comment-form-comment textarea{width:100%}
	#respond .required{right:15px}
	#comments .commentlist > li .comment-body{margin-left:90px;padding:10px}
	#comments .commentlist > li .photo{left:-90px}
	#comments .commentlist > li .children{margin-left:0;padding-left:10px}
	#comments .commentlist > li .reply{right:10px;top:10px}
	#comments .commentlist > li .comment-meta a.comment-edit-link{padding-right:45px}
	.rtl #comments .commentlist > li .comment-body{margin-left:0;margin-right:90px}
	.rtl #comments .commentlist > li .photo{left:auto;right:-90px}
	.rtl #comments .commentlist > li .children{margin-right:0;padding-left:0;padding-right:10px}
	.rtl #comments .commentlist > li .reply{left:10px;right:auto}
	.rtl #comments .commentlist > li .comment-meta a.comment-edit-link{padding-left:45px;padding-right:0}
	
	/* Zoom Box */
	.zoom_box .desc .desc_txt{font-size:18px;line-height:22px}
	
	/* Gallery */
	#Content .gallery:not(.gallery-columns-1) .gallery-item{width:50%;clear:none}
	#Content .gallery:not(.gallery-columns-1) .gallery-item:nth-child(2n+1){clear:both}
	
	/* Latest News */
	.Latest_news.featured ul{width:49%!important}
}

/* #Mobile (Portrait) < 480 ------------------------------------------------------------------------- #Mobile (Portrait) < 480 */

@media only screen and (min-width: 448px) and (max-width: 500px) {
	.blog_slider a.kill_the_icon .button_icon{display:none;}
}	

@media only screen and (max-width: 479px) {
	#Top_bar a.button.action_button{margin-right:0}
	
	/* Post nav */
	.post-nav{padding:10px 10px 4px}
	
	/* Portfolio list */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:260px}
	
	/* Portfolio Masonry Flat */
	.portfolio_group.masonry-flat .portfolio-item,.portfolio_group.masonry-flat .portfolio-item.wide{width:100%!important}
	
	/* Latest News */
	.Latest_news.featured ul{width:100%!important}
	
	/* Filters */
	#Filters .filters_buttons li{margin-right:10px}
	#Filters .filters_buttons li.label{display:none}
	#Filters .filters_buttons li i.icon-docs,#Filters .filters_buttons li i.icon-tag{display:none}
	
	/* Team */
	.team.team_horizontal .image_frame{width:100%;margin:0 0 15px;float:none}
	.team.team_horizontal .desc_wrapper{width:100%;float:none}
	
	/* Timeline */
	.timeline_items{background-position:21px top}
	.timeline_items li{padding:0 0 25px 80px !important;background-position:-20px top!important}
	.timeline_items li h3 span{display:table;position:relative;margin-bottom:20px;clear:both}
	.timeline_items li h3:before{left:24px}
	.timeline_items:after{left:23px}
	
	/* Testimonials slider */
	.testimonials_slider a.slider_prev{display:none!important}
	.testimonials_slider a.slider_next{display:none!important}
	.testimonials_slider .testimonials_slider_ul li{padding:0}
	
	/* Respond */
	#respond .comment-form-author{width:99%;margin-right:0;float:none}
	#respond .comment-form-email{width:99%;margin-right:0;float:none}
	#respond .comment-form-url{width:99%;float:none}
	#respond input[type="text"],#respond input[type="password"],#respond input[type="email"],#respond select{width:100%}
	#respond .comment-form-comment textarea{width:100%}
	#respond .required{right:11px}
	#comments .commentlist > li .comment-body{margin-left:55px;padding:10px}
	#comments .commentlist > li .photo{width:32px;height:32px;left:-55px}
	#comments .commentlist > li .children{margin-left:0;padding-left:10px}
	#comments .commentlist > li .reply{right:10px;top:10px}
	#comments .commentlist > li .comment-meta a.comment-edit-link{padding-right:0;position:static;float:none}
	.rtl #comments .commentlist > li .comment-body{margin-left:0;margin-right:55px}
	.rtl #comments .commentlist > li .photo{left:auto;right:-55px}
	.rtl #comments .commentlist > li .children{margin-right:0;padding-left:0;padding-right:10px}
	.rtl #comments .commentlist > li .reply{left:10px;right:auto}
	.rtl #comments .commentlist > li .comment-meta a.comment-edit-link{padding:0}
	
	/* Zoom Box */
	.zoom_box .desc .desc_img img{max-height:60px;width:auto}
	.zoom_box .desc .desc_txt{font-size:14px;line-height:17px}
	
	/* Feature box */
	.feature_box .feature_box_wrapper{display:block}
	.feature_box .feature_box_wrapper .photo_wrapper,.feature_box .feature_box_wrapper .desc_wrapper{display:block;width:100%;padding:0}
	.feature_box .feature_box_wrapper .photo_wrapper{margin-bottom:15px;text-align:center}
	.feature_box .feature_box_wrapper .photo_wrapper a{display:inline-block}
	
	/* Gallery */
	#Content .gallery .gallery-item{width:100%}
	
	/* bbpress */
	.bbpress #bbpress-forums p.bbp-topic-meta,.bbpress #bbpress-forums p.bbp-topic-meta{display:none}
	
	/* Easy Digital Downloads */
	.edd_downloads_list .edd_download{width:100%!important}
	.edd_downloads_list .edd_download .edd_download_inner{margin:0 0 20px}
}

/* Retina | iPad ----------------------------------------------------------------------------------------------- Retina | iPad */
@media only screen and (max-device-width: 1024px) {
	html.ios, .ios .section.bg-cover{background-attachment:scroll!important}
}

@media only screen and (min-width: 1240px) {
    body:not(.header-simple) #Top_bar #menu {
        display: block !important
    }

    .tr-menu #Top_bar #menu {
        background: none !important
    }

    #Top_bar .menu > li > ul.mfn-megamenu {
        width: 984px
    }

        #Top_bar .menu > li > ul.mfn-megamenu > li {
            float: left
        }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-1 {
                width: 100%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-2 {
                width: 50%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-3 {
                width: 33.33%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-4 {
                width: 25%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-5 {
                width: 20%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-6 {
                width: 16.66%
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li > ul {
                display: block !important;
                position: inherit;
                left: auto;
                top: auto;
                border-width: 0 1px 0 0
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li:last-child > ul {
                border: 0
            }

            #Top_bar .menu > li > ul.mfn-megamenu > li > ul li {
                width: auto
            }

        #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title {
            text-transform: uppercase;
            font-weight: 400;
            background: none
        }

        #Top_bar .menu > li > ul.mfn-megamenu a .menu-arrow {
            display: none
        }

    .menuo-right #Top_bar .menu > li > ul.mfn-megamenu {
        left: auto;
        right: 0
    }

    .menuo-right #Top_bar .menu > li > ul.mfn-megamenu-bg {
        box-sizing: border-box
    }

    #Top_bar .menu > li > ul.mfn-megamenu-bg {
        padding: 20px 166px 20px 20px;
        background-repeat: no-repeat;
        background-position: right bottom
    }

    .rtl #Top_bar .menu > li > ul.mfn-megamenu-bg {
        padding-left: 166px;
        padding-right: 20px;
        background-position: left bottom
    }

    #Top_bar .menu > li > ul.mfn-megamenu-bg > li {
        background: none
    }

        #Top_bar .menu > li > ul.mfn-megamenu-bg > li a {
            border: none
        }

        #Top_bar .menu > li > ul.mfn-megamenu-bg > li > ul {
            background: none !important;
            -webkit-box-shadow: 0 0 0 0;
            -moz-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0
        }

    .mm-vertical #Top_bar .container {
        position: relative;
    }

    .mm-vertical #Top_bar .top_bar_left {
        position: static;
    }

    .mm-vertical #Top_bar .menu > li ul {
        box-shadow: 0 0 0 0 transparent !important;
        background-image: none;
    }

    .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu {
        width: 98% !important;
        margin: 0 1%;
        padding: 20px 0;
    }

    .mm-vertical.header-plain #Top_bar .menu > li > ul.mfn-megamenu {
        width: 100% !important;
        margin: 0;
    }

    .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li {
        display: table-cell;
        float: none !important;
        width: 10%;
        padding: 0 15px;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

        .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:last-child {
            border-right-width: 0
        }

        .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li.hide-border {
            border-right-width: 0
        }

        .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li a {
            border-bottom-width: 0;
            padding: 9px 15px;
            line-height: 120%;
        }

    .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title {
        font-weight: 700;
    }

    .rtl .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:first-child {
        border-right-width: 0
    }

    .rtl .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:last-child {
        border-right-width: 1px
    }

    #Header_creative #Top_bar .menu > li > ul.mfn-megamenu {
        width: 980px !important;
        margin: 0;
    }

    .header-plain:not(.menuo-right) #Header .top_bar_left {
        width: auto !important
    }

    .header-stack.header-center #Top_bar #menu {
        display: inline-block !important
    }

    .header-simple #Top_bar #menu {
        display: none;
        height: auto;
        width: 300px;
        bottom: auto;
        top: 100%;
        right: 1px;
        position: absolute;
        margin: 0
    }

    .header-simple #Header a.responsive-menu-toggle {
        display: block;
        right: 10px
    }

    .header-simple #Top_bar #menu > ul {
        width: 100%;
        float: left
    }

    .header-simple #Top_bar #menu ul li {
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
        position: relative
    }

        .header-simple #Top_bar #menu ul li a {
            padding: 0 20px;
            margin: 0;
            display: block;
            height: auto;
            line-height: normal;
            border: none
        }

            .header-simple #Top_bar #menu ul li a:after {
                display: none
            }

            .header-simple #Top_bar #menu ul li a span {
                border: none;
                line-height: 44px;
                display: inline;
                padding: 0
            }

        .header-simple #Top_bar #menu ul li.submenu .menu-toggle {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            cursor: pointer;
            color: #444;
            opacity: 0.33;
        }

            .header-simple #Top_bar #menu ul li.submenu .menu-toggle:after {
                content:"+"
            }

        .header-simple #Top_bar #menu ul li.hover > .menu-toggle:after {
            content:"-"
        }

        .header-simple #Top_bar #menu ul li.hover a {
            border-bottom: 0
        }

    .header-simple #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
        display: none
    }

    .header-simple #Top_bar #menu ul li ul {
        position: relative !important;
        left: 0 !important;
        top: 0;
        padding: 0;
        margin: 0 !important;
        width: auto !important;
        background-image: none
    }

        .header-simple #Top_bar #menu ul li ul li {
            width: 100% !important;
            display: block;
            padding: 0;
        }

            .header-simple #Top_bar #menu ul li ul li a {
                padding: 0 20px 0 30px
            }

                .header-simple #Top_bar #menu ul li ul li a .menu-arrow {
                    display: none
                }

                .header-simple #Top_bar #menu ul li ul li a span {
                    padding: 0
                }

                    .header-simple #Top_bar #menu ul li ul li a span:after {
                        display: none !important
                    }

    .header-simple #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400
    }

    .header-simple #Top_bar .menu > li > ul.mfn-megamenu > li > ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto
    }

    .header-simple #Top_bar #menu ul li ul li ul {
        border-left: 0 !important;
        padding: 0;
        top: 0
    }

        .header-simple #Top_bar #menu ul li ul li ul li a {
            padding: 0 20px 0 40px
        }

    .rtl.header-simple #Top_bar #menu {
        left: 1px;
        right: auto
    }

    .rtl.header-simple #Top_bar a.responsive-menu-toggle {
        left: 10px;
        right: auto
    }

    .rtl.header-simple #Top_bar #menu ul li.submenu .menu-toggle {
        left: 0;
        right: auto
    }

    .rtl.header-simple #Top_bar #menu ul li ul {
        left: auto !important;
        right: 0 !important
    }

        .rtl.header-simple #Top_bar #menu ul li ul li a {
            padding: 0 30px 0 20px
        }

        .rtl.header-simple #Top_bar #menu ul li ul li ul li a {
            padding: 0 40px 0 20px
        }

    .menu-highlight #Top_bar .menu > li {
        margin: 0 2px
    }

    .menu-highlight:not(.header-creative) #Top_bar .menu > li > a {
        margin: 20px 0;
        padding: 0;
        -webkit-border-radius: 5px;
        border-radius: 5px
    }

    .menu-highlight #Top_bar .menu > li > a:after {
        display: none
    }

    .menu-highlight #Top_bar .menu > li > a span:not(.description) {
        line-height: 50px
    }

    .menu-highlight #Top_bar .menu > li > a span.description {
        display: none
    }

    .menu-highlight.header-stack #Top_bar .menu > li > a {
        margin: 10px 0 !important
    }

        .menu-highlight.header-stack #Top_bar .menu > li > a span:not(.description) {
            line-height: 40px
        }

    .menu-highlight.header-transparent #Top_bar .menu > li > a {
        margin: 5px 0
    }

    .menu-highlight.header-simple #Top_bar #menu ul li, .menu-highlight.header-creative #Top_bar #menu ul li {
        margin: 0
    }

        .menu-highlight.header-simple #Top_bar #menu ul li > a, .menu-highlight.header-creative #Top_bar #menu ul li > a {
            -webkit-border-radius: 0;
            border-radius: 0
        }

    .menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu > li > a {
        margin: 10px 0 !important;
        padding: 5px 0 !important
    }

        .menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu > li > a span {
            line-height: 30px !important
        }

    .header-modern.menu-highlight.menuo-right .menu_wrapper {
        margin-right: 20px
    }

    .menu-line-below #Top_bar .menu > li > a:after {
        top: auto;
        bottom: -4px
    }

    .menu-line-below #Top_bar.is-sticky .menu > li > a:after {
        top: auto;
        bottom: -4px
    }

    .menu-line-below-80 #Top_bar:not(.is-sticky) .menu > li > a:after {
        height: 4px;
        left: 10%;
        top: 50%;
        margin-top: 20px;
        width: 80%
    }

    .menu-line-below-80-1 #Top_bar:not(.is-sticky) .menu > li > a:after {
        height: 1px;
        left: 10%;
        top: 50%;
        margin-top: 20px;
        width: 80%
    }

    .menu-link-color #Top_bar .menu > li > a:after {
        display: none !important
    }

    .menu-arrow-top #Top_bar .menu > li > a:after {
        background: none repeat scroll 0 0 rgba(0,0,0,0) !important;
        border-color: #ccc transparent transparent;
        border-style: solid;
        border-width: 7px 7px 0;
        display: block;
        height: 0;
        left: 50%;
        margin-left: -7px;
        top: 0 !important;
        width: 0
    }

    .menu-arrow-top.header-transparent #Top_bar .menu > li > a:after, .menu-arrow-top.header-plain #Top_bar .menu > li > a:after {
        display: none
    }

    .menu-arrow-top #Top_bar.is-sticky .menu > li > a:after {
        top: 0 !important
    }

    .menu-arrow-bottom #Top_bar .menu > li > a:after {
        background: none !important;
        border-color: transparent transparent #ccc;
        border-style: solid;
        border-width: 0 7px 7px;
        display: block;
        height: 0;
        left: 50%;
        margin-left: -7px;
        top: auto;
        bottom: 0;
        width: 0
    }

    .menu-arrow-bottom.header-transparent #Top_bar .menu > li > a:after, .menu-arrow-bottom.header-plain #Top_bar .menu > li > a:after {
        display: none
    }

    .menu-arrow-bottom #Top_bar.is-sticky .menu > li > a:after {
        top: auto;
        bottom: 0
    }

    .menuo-no-borders #Top_bar .menu > li > a span:not(.description) {
        border-right-width: 0
    }

    .menuo-no-borders #Header_creative #Top_bar .menu > li > a span {
        border-bottom-width: 0
    }

    .menuo-right #Top_bar .menu_wrapper {
        float: right
    }

    .menuo-right.header-stack:not(.header-center) #Top_bar .menu_wrapper {
        margin-right: 150px
    }

    body.header-creative {
        padding-left: 50px
    }

        body.header-creative.header-open {
            padding-left: 250px
        }

    body.error404, body.under-construction, body.template-blank {
        padding-left: 0 !important
    }

    .header-creative.footer-fixed #Footer, .header-creative.footer-sliding #Footer, .header-creative.footer-stick #Footer.is-sticky {
        box-sizing: border-box;
        padding-left: 50px;
    }

    .header-open.footer-fixed #Footer, .header-open.footer-sliding #Footer, .header-creative.footer-stick #Footer.is-sticky {
        padding-left: 250px;
    }

    .header-rtl.header-creative.footer-fixed #Footer, .header-rtl.header-creative.footer-sliding #Footer, .header-rtl.header-creative.footer-stick #Footer.is-sticky {
        padding-left: 0;
        padding-right: 50px;
    }

    .header-rtl.header-open.footer-fixed #Footer, .header-rtl.header-open.footer-sliding #Footer, .header-rtl.header-creative.footer-stick #Footer.is-sticky {
        padding-right: 250px;
    }

    #Header_creative {
        background: #fff;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -200px;
        top: 0;
        z-index: 9002;
        -webkit-box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
        box-shadow: 2px 0 4px 2px rgba(0,0,0,.15)
    }

        #Header_creative .container {
            width: 100%
        }

        #Header_creative .creative-wrapper {
            opacity: 0;
            margin-right: 50px
        }

        #Header_creative a.creative-menu-toggle {
            display: block;
            width: 34px;
            height: 34px;
            line-height: 34px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 10px;
            right: 8px;
            border-radius: 3px
        }

    .admin-bar #Header_creative a.creative-menu-toggle {
        top: 42px
    }

    #Header_creative #Top_bar {
        position: static;
        width: 100%
    }

        #Header_creative #Top_bar .top_bar_left {
            width: 100% !important;
            float: none
        }

        #Header_creative #Top_bar .top_bar_right {
            width: 100% !important;
            float: none;
            height: auto;
            margin-bottom: 35px;
            text-align: center;
            padding: 0 20px;
            top: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

            #Header_creative #Top_bar .top_bar_right:before {
                display: none
            }

        #Header_creative #Top_bar .top_bar_right_wrapper {
            top: 0
        }

        #Header_creative #Top_bar .logo {
            float: none;
            text-align: center;
            margin: 15px 0
        }

        #Header_creative #Top_bar .menu_wrapper {
            float: none;
            margin: 0 0 30px
        }

        #Header_creative #Top_bar .menu > li {
            width: 100%;
            float: none;
            position: relative
        }

            #Header_creative #Top_bar .menu > li > a {
                padding: 0;
                text-align: center
            }

                #Header_creative #Top_bar .menu > li > a:after {
                    display: none
                }

                #Header_creative #Top_bar .menu > li > a span {
                    border-right: 0;
                    border-bottom-width: 1px;
                    line-height: 38px
                }

        #Header_creative #Top_bar .menu li ul {
            left: 100%;
            right: auto;
            top: 0;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.03);
            -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.03)
        }

        #Header_creative #Top_bar .menu > li > ul.mfn-megamenu {
            width: 700px !important;
        }

            #Header_creative #Top_bar .menu > li > ul.mfn-megamenu > li > ul {
                left: 0
            }

        #Header_creative #Top_bar .menu li ul li a {
            padding-top: 9px;
            padding-bottom: 8px
        }

        #Header_creative #Top_bar .menu li ul li ul {
            top: 0 !important
        }

        #Header_creative #Top_bar .menu > li > a span.description {
            display: block;
            font-size: 13px;
            line-height: 28px !important;
            clear: both
        }

        #Header_creative #Top_bar .search_wrapper {
            left: 100%;
            top: auto;
            bottom: 0
        }

        #Header_creative #Top_bar a#header_cart {
            display: inline-block;
            float: none;
            top: 3px
        }

        #Header_creative #Top_bar a#search_button {
            display: inline-block;
            float: none;
            top: 3px
        }

        #Header_creative #Top_bar .wpml-languages {
            display: inline-block;
            float: none;
            top: 0
        }

            #Header_creative #Top_bar .wpml-languages.enabled:hover a.active {
                padding-bottom: 9px
            }

        #Header_creative #Top_bar a.button.action_button {
            display: inline-block;
            float: none;
            top: 16px;
            margin: 0
        }

        #Header_creative #Top_bar .banner_wrapper {
            display: block;
            text-align: center
        }

            #Header_creative #Top_bar .banner_wrapper img {
                max-width: 100%;
                height: auto;
                display: inline-block
            }

    #Header_creative #Action_bar {
        position: absolute;
        bottom: 0;
        top: auto;
        clear: both;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

        #Header_creative #Action_bar .social {
            float: none;
            text-align: center;
            padding: 5px 0 15px
        }

            #Header_creative #Action_bar .social li {
                margin-bottom: 2px
            }

    #Header_creative .social li a {
        color: rgba(0,0,0,.5)
    }

        #Header_creative .social li a:hover {
            color: #000
        }

    #Header_creative .creative-social {
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 50px
    }

        #Header_creative .creative-social li {
            display: block;
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 5px
        }

    .header-creative .fixed-nav.fixed-nav-prev {
        margin-left: 50px
    }

    .header-creative.header-open .fixed-nav.fixed-nav-prev {
        margin-left: 250px
    }

    .menuo-last #Header_creative #Top_bar .menu li.last ul {
        top: auto;
        bottom: 0
    }

    .header-open #Header_creative {
        left: 0
    }

        .header-open #Header_creative .creative-wrapper {
            opacity: 1;
            margin: 0 !important;
        }

        .header-open #Header_creative .creative-menu-toggle, .header-open #Header_creative .creative-social {
            display: none
        }

    body.header-rtl.header-creative {
        padding-left: 0;
        padding-right: 50px
    }

    .header-rtl #Header_creative {
        left: auto;
        right: -200px
    }

    .header-rtl.nice-scroll #Header_creative {
        margin-right: 10px
    }

    .header-rtl #Header_creative .creative-wrapper {
        margin-left: 50px;
        margin-right: 0
    }

    .header-rtl #Header_creative a.creative-menu-toggle {
        left: 8px;
        right: auto
    }

    .header-rtl #Header_creative .creative-social {
        left: 0;
        right: auto
    }

    .header-rtl #Footer #back_to_top.sticky {
        right: 125px
    }

    .header-rtl #popup_contact {
        right: 70px
    }

    .header-rtl #Header_creative #Top_bar .menu li ul {
        left: auto;
        right: 100%
    }

    .header-rtl #Header_creative #Top_bar .search_wrapper {
        left: auto;
        right: 100%;
    }

    .header-rtl .fixed-nav.fixed-nav-prev {
        margin-left: 0 !important
    }

    .header-rtl .fixed-nav.fixed-nav-next {
        margin-right: 50px
    }

    body.header-rtl.header-creative.header-open {
        padding-left: 0;
        padding-right: 250px !important
    }

    .header-rtl.header-open #Header_creative {
        left: auto;
        right: 0
    }

    .header-rtl.header-open #Footer #back_to_top.sticky {
        right: 325px
    }

    .header-rtl.header-open #popup_contact {
        right: 270px
    }

    .header-rtl.header-open .fixed-nav.fixed-nav-next {
        margin-right: 250px
    }

    #Header_creative.active {
        left: -1px;
    }

    .header-rtl #Header_creative.active {
        left: auto;
        right: -1px;
    }

    #Header_creative.active .creative-wrapper {
        opacity: 1;
        margin: 0
    }

    .header-creative .vc_row[data-vc-full-width] {
        padding-left: 50px
    }

    .header-creative.header-open .vc_row[data-vc-full-width] {
        padding-left: 250px
    }

    .header-open .vc_parallax .vc_parallax-inner {
        left: auto;
        width: calc(100% - 250px);
    }

    .header-open.header-rtl .vc_parallax .vc_parallax-inner {
        left: 0;
        right: auto;
    }

    #Header_creative.scroll {
        height: 100%;
        overflow-y: auto
    }

        #Header_creative.scroll:not(.dropdown) .menu li ul {
            display: none !important
        }

        #Header_creative.scroll #Action_bar {
            position: static
        }

    #Header_creative.dropdown {
        outline: none
    }

        #Header_creative.dropdown #Top_bar .menu_wrapper {
            float: left
        }

        #Header_creative.dropdown #Top_bar #menu ul li {
            position: relative;
            float: left
        }

            #Header_creative.dropdown #Top_bar #menu ul li a:after {
                display: none
            }

            #Header_creative.dropdown #Top_bar #menu ul li a span {
                line-height: 38px;
                padding: 0
            }

            #Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 38px;
                height: 38px;
                line-height: 38px;
                font-size: 26px;
                font-weight: 300;
                text-align: center;
                cursor: pointer;
                color: #444;
                opacity: 0.33;
            }

                #Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle:after {
                    content:"+"
                }

            #Header_creative.dropdown #Top_bar #menu ul li.hover > .menu-toggle:after {
                content:"-"
            }

            #Header_creative.dropdown #Top_bar #menu ul li.hover a {
                border-bottom: 0
            }

        #Header_creative.dropdown #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
            display: none
        }

        #Header_creative.dropdown #Top_bar #menu ul li ul {
            position: relative !important;
            left: 0 !important;
            top: 0;
            padding: 0;
            margin-left: 0 !important;
            width: auto !important;
            background-image: none
        }

            #Header_creative.dropdown #Top_bar #menu ul li ul li {
                width: 100% !important
            }

                #Header_creative.dropdown #Top_bar #menu ul li ul li a {
                    padding: 0 10px;
                    text-align: center
                }

                    #Header_creative.dropdown #Top_bar #menu ul li ul li a .menu-arrow {
                        display: none
                    }

                    #Header_creative.dropdown #Top_bar #menu ul li ul li a span {
                        padding: 0
                    }

                        #Header_creative.dropdown #Top_bar #menu ul li ul li a span:after {
                            display: none !important
                        }

        #Header_creative.dropdown #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title {
            text-transform: uppercase;
            font-weight: 400
        }

        #Header_creative.dropdown #Top_bar .menu > li > ul.mfn-megamenu > li > ul {
            display: block !important;
            position: inherit;
            left: auto;
            top: auto
        }

        #Header_creative.dropdown #Top_bar #menu ul li ul li ul {
            border-left: 0 !important;
            padding: 0;
            top: 0
        }

    #Header_creative {
        transition: left .5s ease-in-out, right .5s ease-in-out;
    }

        #Header_creative .creative-wrapper {
            transition: opacity .5s ease-in-out, margin 0s ease-in-out .5s;
        }

        #Header_creative.active .creative-wrapper {
            transition: opacity .5s ease-in-out, margin 0s ease-in-out;
        }
}

@media only screen and (min-width: 1240px) {
    #Top_bar.is-sticky {
        position: fixed !important;
        width: 100%;
        left: 0;
        top: -60px;
        height: 60px;
        z-index: 701;
        background: #fff;
        opacity: .97;
        filter: alpha(opacity = 97);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1)
    }

    .layout-boxed.header-boxed #Top_bar.is-sticky {
        max-width: 1240px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .layout-boxed.header-boxed.nice-scroll #Top_bar.is-sticky {
        margin-left: -5px
    }

    #Top_bar.is-sticky .top_bar_left, #Top_bar.is-sticky .top_bar_right, #Top_bar.is-sticky .top_bar_right:before {
        background: none
    }

    #Top_bar.is-sticky .top_bar_right {
        top: -4px;
        height: auto;
    }

    #Top_bar.is-sticky .top_bar_right_wrapper {
        top: 15px
    }

    .header-plain #Top_bar.is-sticky .top_bar_right_wrapper {
        top: 0
    }

    #Top_bar.is-sticky .logo {
        width: auto;
        margin: 0 30px 0 20px;
        padding: 0
    }

    #Top_bar.is-sticky #logo {
        padding: 5px 0 !important;
        height: 50px !important;
        line-height: 50px !important
    }

        #Top_bar.is-sticky #logo img:not(.svg) {
            max-height: 35px;
            width: auto !important
        }

        #Top_bar.is-sticky #logo img.logo-main {
            display: none
        }

        #Top_bar.is-sticky #logo img.logo-sticky {
            display: inline
        }

    #Top_bar.is-sticky .menu_wrapper {
        clear: none
    }

        #Top_bar.is-sticky .menu_wrapper .menu > li > a {
            padding: 15px 0
        }

    #Top_bar.is-sticky .menu > li > a, #Top_bar.is-sticky .menu > li > a span {
        line-height: 30px
    }

        #Top_bar.is-sticky .menu > li > a:after {
            top: auto;
            bottom: -4px
        }

        #Top_bar.is-sticky .menu > li > a span.description {
            display: none
        }

    #Top_bar.is-sticky .secondary_menu_wrapper, #Top_bar.is-sticky .banner_wrapper {
        display: none
    }

    .header-overlay #Top_bar.is-sticky {
        display: none
    }

    .sticky-dark #Top_bar.is-sticky {
        background: rgba(0,0,0,.8)
    }

        .sticky-dark #Top_bar.is-sticky #menu {
            background: rgba(0,0,0,.8)
        }

        .sticky-dark #Top_bar.is-sticky .menu > li > a {
            color: #fff
        }

        .sticky-dark #Top_bar.is-sticky .top_bar_right a {
            color: rgba(255,255,255,.5)
        }

        .sticky-dark #Top_bar.is-sticky .wpml-languages a.active, .sticky-dark #Top_bar.is-sticky .wpml-languages ul.wpml-lang-dropdown {
            background: rgba(0,0,0,0.3);
            border-color: rgba(0,0,0,0.1)
        }
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
    .header_placeholder {
        height: 0 !important
    }
}

@media only screen and (max-width: 1239px) {
    #Top_bar #menu {
        display: none;
        height: auto;
        width: 300px;
        bottom: auto;
        top: 100%;
        right: 1px;
        position: absolute;
        margin: 0
    }

    #Top_bar a.responsive-menu-toggle {
        display: block
    }

    #Top_bar #menu > ul {
        width: 100%;
        float: left
    }

    #Top_bar #menu ul li {
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
        position: relative
    }

        #Top_bar #menu ul li a {
            padding: 0 25px;
            margin: 0;
            display: block;
            height: auto;
            line-height: normal;
            border: none
        }

            #Top_bar #menu ul li a:after {
                display: none
            }

            #Top_bar #menu ul li a span {
                border: none;
                line-height: 44px;
                display: inline;
                padding: 0
            }

                #Top_bar #menu ul li a span.description {
                    margin: 0 0 0 5px
                }

        #Top_bar #menu ul li.submenu .menu-toggle {
            display: block;
            position: absolute;
            right: 15px;
            top: 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            cursor: pointer;
            color: #444;
            opacity: 0.33;
        }

            #Top_bar #menu ul li.submenu .menu-toggle:after {
                content:"+"
            }

        #Top_bar #menu ul li.hover > .menu-toggle:after {
            content:"-"
        }

        #Top_bar #menu ul li.hover a {
            border-bottom: 0
        }

        #Top_bar #menu ul li a span:after {
            display: none !important
        }

    #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
        display: none
    }

    #Top_bar #menu ul li ul {
        position: relative !important;
        left: 0 !important;
        top: 0;
        padding: 0;
        margin-left: 0 !important;
        width: auto !important;
        background-image: none !important;
        box-shadow: 0 0 0 0 transparent !important;
        -webkit-box-shadow: 0 0 0 0 transparent !important
    }

        #Top_bar #menu ul li ul li {
            width: 100% !important
        }

            #Top_bar #menu ul li ul li a {
                padding: 0 20px 0 35px
            }

                #Top_bar #menu ul li ul li a .menu-arrow {
                    display: none
                }

                #Top_bar #menu ul li ul li a span {
                    padding: 0
                }

                    #Top_bar #menu ul li ul li a span:after {
                        display: none !important
                    }

    #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400
    }

    #Top_bar .menu > li > ul.mfn-megamenu > li > ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto
    }

    #Top_bar #menu ul li ul li ul {
        border-left: 0 !important;
        padding: 0;
        top: 0
    }

        #Top_bar #menu ul li ul li ul li a {
            padding: 0 20px 0 45px
        }

    .rtl #Top_bar #menu {
        left: 1px;
        right: auto
    }

    .rtl #Top_bar a.responsive-menu-toggle {
        left: 20px;
        right: auto
    }

    .rtl #Top_bar #menu ul li.submenu .menu-toggle {
        left: 15px;
        right: auto;
        border-left: none;
        border-right: 1px solid #eee
    }

    .rtl #Top_bar #menu ul li ul {
        left: auto !important;
        right: 0 !important
    }

        .rtl #Top_bar #menu ul li ul li a {
            padding: 0 30px 0 20px
        }

        .rtl #Top_bar #menu ul li ul li ul li a {
            padding: 0 40px 0 20px
        }

    .header-stack .menu_wrapper a.responsive-menu-toggle {
        position: static !important;
        margin: 11px 0 !important
    }

    .header-stack .menu_wrapper #menu {
        left: 0;
        right: auto
    }

    .rtl.header-stack #Top_bar #menu {
        left: auto;
        right: 0
    }

    .admin-bar #Header_creative {
        top: 32px
    }

    .header-creative.layout-boxed {
        padding-top: 85px
    }

    .header-creative.layout-full-width #Wrapper {
        padding-top: 60px
    }

    #Header_creative {
        position: fixed;
        width: 100%;
        left: 0 !important;
        top: 0;
        z-index: 1001
    }

        #Header_creative .creative-wrapper {
            display: block !important;
            opacity: 1 !important
        }

        #Header_creative .creative-menu-toggle, #Header_creative .creative-social {
            display: none !important;
            opacity: 1 !important;
            filter: alpha(opacity=100) !important
        }

        #Header_creative #Top_bar {
            position: static;
            width: 100%
        }

            #Header_creative #Top_bar #logo {
                height: 50px;
                line-height: 50px;
                padding: 5px 0
            }

                #Header_creative #Top_bar #logo img {
                    max-height: 40px
                }

        #Header_creative #logo img.logo-main {
            display: none
        }

        #Header_creative #logo img.logo-sticky {
            display: inline-block
        }

    .logo-no-sticky-padding #Header_creative #Top_bar #logo {
        height: 60px;
        line-height: 60px;
        padding: 0
    }

        .logo-no-sticky-padding #Header_creative #Top_bar #logo img {
            max-height: 60px
        }

    #Header_creative #Top_bar #header_cart {
        top: 21px
    }

    #Header_creative #Top_bar #search_button {
        top: 20px
    }

    #Header_creative #Top_bar .wpml-languages {
        top: 11px
    }

    #Header_creative #Top_bar .action_button {
        top: 9px
    }

    #Header_creative #Top_bar .top_bar_right {
        height: 60px;
        top: 0
    }

        #Header_creative #Top_bar .top_bar_right:before {
            display: none
        }

    #Header_creative #Top_bar .top_bar_right_wrapper {
        top: 0
    }

    #Header_creative #Action_bar {
        display: none
    }

    #Header_creative.scroll {
        overflow: visible !important
    }
}

@media only screen and ( min-width: 768px ) {
    .header-semi #Top_bar:not(.is-sticky) {
        background-color: rgba(43, 44, 48, 0.8);
    }
}

@media only screen and ( max-width: 767px ) {
    #Top_bar {
        background: #2b2c30 !important;
    }

    #Action_bar {
        background: #FFFFFF !important;
    }

        #Action_bar .contact_details {
            color: #222222
        }

            #Action_bar .contact_details a {
                color: #0095eb
            }

                #Action_bar .contact_details a:hover {
                    color: #007cc3
                }

        #Action_bar .social li a, #Action_bar .social-menu a {
            color: #bbbbbb
        }

            #Action_bar .social li a:hover, #Action_bar .social-menu a:hover {
                color: #777777
            }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big, .big {
        font-size: 14px;
        line-height: 24px;
    }

    #menu > ul > li > a, a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 44px;
        line-height: 44px;
    }

    h1, .text-logo #logo {
        font-size: 68px;
        line-height: 68px;
    }

    h2 {
        font-size: 27px;
        line-height: 39px;
    }

    h3 {
        font-size: 20px;
        line-height: 29px;
    }

    h4 {
        font-size: 17px;
        line-height: 26px;
    }

    h5 {
        font-size: 13px;
        line-height: 23px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    blockquote {
        font-size: 15px;
    }

    .chart_box .chart .num {
        font-size: 45px;
        line-height: 45px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 45px;
        line-height: 45px;
    }

    .counter .desc_wrapper .title {
        font-size: 14px;
        line-height: 18px;
    }

    .faq .question .title {
        font-size: 14px;
    }

    .fancy_heading .title {
        font-size: 38px;
        line-height: 38px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .pricing-box .plan-header h2 {
        font-size: 27px;
        line-height: 27px;
    }

    .pricing-box .plan-header .price > span {
        font-size: 40px;
        line-height: 40px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 18px;
        line-height: 18px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 14px;
        line-height: 14px;
    }

    .quick_fact .number {
        font-size: 80px;
        line-height: 80px;
    }

    .trailer_box .desc h2 {
        font-size: 27px;
        line-height: 27px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big, .big {
        font-size: 13px;
        line-height: 21px;
    }

    #menu > ul > li > a, a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 39px;
        line-height: 39px;
    }

    h1, .text-logo #logo {
        font-size: 60px;
        line-height: 60px;
    }

    h2 {
        font-size: 24px;
        line-height: 35px;
    }

    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    h4 {
        font-size: 15px;
        line-height: 23px;
    }

    h5 {
        font-size: 13px;
        line-height: 20px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 53px;
        line-height: 53px;
    }

    blockquote {
        font-size: 14px;
    }

    .chart_box .chart .num {
        font-size: 40px;
        line-height: 40px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 40px;
        line-height: 40px;
    }

    .counter .desc_wrapper .title {
        font-size: 13px;
        line-height: 16px;
    }

    .faq .question .title {
        font-size: 13px;
    }

    .fancy_heading .title {
        font-size: 34px;
        line-height: 34px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .pricing-box .plan-header h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .pricing-box .plan-header .price > span {
        font-size: 34px;
        line-height: 34px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 16px;
        line-height: 16px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 13px;
        line-height: 13px;
    }

    .quick_fact .number {
        font-size: 70px;
        line-height: 70px;
    }

    .trailer_box .desc h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big, .big {
        font-size: 13px;
        line-height: 19px;
    }

    #menu > ul > li > a, a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 31px;
        line-height: 31px;
    }

    h1, .text-logo #logo {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 19px;
        line-height: 28px;
    }

    h3 {
        font-size: 14px;
        line-height: 20px;
    }

    h4 {
        font-size: 13px;
        line-height: 19px;
    }

    h5 {
        font-size: 13px;
        line-height: 19px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 42px;
        line-height: 42px;
    }

    blockquote {
        font-size: 13px;
    }

    .chart_box .chart .num {
        font-size: 35px;
        line-height: 35px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 35px;
        line-height: 35px;
    }

    .counter .desc_wrapper .title {
        font-size: 13px;
        line-height: 26px;
    }

    .faq .question .title {
        font-size: 13px;
    }

    .fancy_heading .title {
        font-size: 30px;
        line-height: 30px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 26px;
        line-height: 26px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 26px;
        line-height: 26px;
    }

    .pricing-box .plan-header h2 {
        font-size: 21px;
        line-height: 21px;
    }

    .pricing-box .plan-header .price > span {
        font-size: 32px;
        line-height: 32px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 14px;
        line-height: 14px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 13px;
        line-height: 13px;
    }

    .quick_fact .number {
        font-size: 60px;
        line-height: 60px;
    }

    .trailer_box .desc h2 {
        font-size: 21px;
        line-height: 21px;
    }
}

@media only screen and (min-width:1240px) {
    #Wrapper, .with_aside .content_wrapper {
        max-width: 1122px;
    }

    .section_wrapper, .container {
        max-width: 1102px;
    }

    .layout-boxed.header-boxed #Top_bar.is-sticky {
        max-width: 1122px;
    }
}

@media only screen and (max-width: 767px) {
    .section_wrapper, .container, .four.columns .widget-area {
        max-width: 700px !important;
    }
}

@media only screen and (max-width: 767px) {
    .highlight-left .wrap:first-child, .highlight-right .wrap:last-child {
        background: #8d856b;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    #Filters .filters_wrapper ul li {
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    #Filters .filters_wrapper ul li a {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        float: none;
    }

    #Filters .filters_wrapper ul li {
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    #Top_bar a.responsive-menu-toggle {
        top: 35px;
    }

    .mobile-header-mini #Top_bar #logo {
        height: 50px !important;
        line-height: 50px !important;
        margin: 5px 0 !important;
    }

    .mobile-sticky #Top_bar.is-sticky #logo {
        height: 50px !important;
        line-height: 50px !important;
        margin: 5px 50px;
    }
}
