@media only screen and (min-width: 1240px) {
    body:not(.header-simple) #Top_bar #menu {
        display: block !important
    }

    .tr-menu #Top_bar #menu {
        background: none !important
    }

    #Top_bar .menu>li>ul.mfn-megamenu {
        width: 984px
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li {
        float: left
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-1 {
        width: 100%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-2 {
        width: 50%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-3 {
        width: 33.33%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-4 {
        width: 25%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-5 {
        width: 20%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li.mfn-megamenu-cols-6 {
        width: 16.66%
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li>ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto;
        border-width: 0 1px 0 0
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li:last-child>ul {
        border: 0
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li>ul li {
        width: auto
    }

    #Top_bar .menu>li>ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400;
        background: none
    }

    #Top_bar .menu>li>ul.mfn-megamenu a .menu-arrow {
        display: none
    }

    .menuo-right #Top_bar .menu>li>ul.mfn-megamenu {
        left: auto;
        right: 0
    }

    .menuo-right #Top_bar .menu>li>ul.mfn-megamenu-bg {
        box-sizing: border-box
    }

    #Top_bar .menu>li>ul.mfn-megamenu-bg {
        padding: 20px 166px 20px 20px;
        background-repeat: no-repeat;
        background-position: right bottom
    }

    .rtl #Top_bar .menu>li>ul.mfn-megamenu-bg {
        padding-left: 166px;
        padding-right: 20px;
        background-position: left bottom
    }

    #Top_bar .menu>li>ul.mfn-megamenu-bg>li {
        background: none
    }

    #Top_bar .menu>li>ul.mfn-megamenu-bg>li a {
        border: none
    }

    #Top_bar .menu>li>ul.mfn-megamenu-bg>li>ul {
        background: none !important;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0
    }

    .mm-vertical #Top_bar .container {
        position: relative;
    }

    .mm-vertical #Top_bar .top_bar_left {
        position: static;
    }

    .mm-vertical #Top_bar .menu>li ul {
        box-shadow: 0 0 0 0 transparent !important;
        background-image: none;
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu {
        width: 98% !important;
        margin: 0 1%;
        padding: 20px 0;
    }

    .mm-vertical.header-plain #Top_bar .menu>li>ul.mfn-megamenu {
        width: 100% !important;
        margin: 0;
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li {
        display: table-cell;
        float: none !important;
        width: 10%;
        padding: 0 15px;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li:last-child {
        border-right-width: 0
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li.hide-border {
        border-right-width: 0
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li a {
        border-bottom-width: 0;
        padding: 9px 15px;
        line-height: 120%;
    }

    .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu a.mfn-megamenu-title {
        font-weight: 700;
    }

    .rtl .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li:first-child {
        border-right-width: 0
    }

    .rtl .mm-vertical #Top_bar .menu>li>ul.mfn-megamenu>li:last-child {
        border-right-width: 1px
    }

    #Header_creative #Top_bar .menu>li>ul.mfn-megamenu {
        width: 980px !important;
        margin: 0;
    }

    .header-plain:not(.menuo-right) #Header .top_bar_left {
        width: auto !important
    }

    .header-stack.header-center #Top_bar #menu {
        display: inline-block !important
    }

    .header-simple #Top_bar #menu {
        display: none;
        height: auto;
        width: 300px;
        bottom: auto;
        top: 100%;
        right: 1px;
        position: absolute;
        margin: 0
    }

    .header-simple #Header a.responsive-menu-toggle {
        display: block;
        right: 10px
    }

    .header-simple #Top_bar #menu>ul {
        width: 100%;
        float: left
    }

    .header-simple #Top_bar #menu ul li {
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
        position: relative
    }

    .header-simple #Top_bar #menu ul li a {
        padding: 0 20px;
        margin: 0;
        display: block;
        height: auto;
        line-height: normal;
        border: none
    }

    .header-simple #Top_bar #menu ul li a:after {
        display: none
    }

    .header-simple #Top_bar #menu ul li a span {
        border: none;
        line-height: 44px;
        display: inline;
        padding: 0
    }

    .header-simple #Top_bar #menu ul li.submenu .menu-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        color: #444;
        opacity: 0.33;
    }

    .header-simple #Top_bar #menu ul li.submenu .menu-toggle:after {
        content: "+"
    }

    .header-simple #Top_bar #menu ul li.hover>.menu-toggle:after {
        content: "-"
    }

    .header-simple #Top_bar #menu ul li.hover a {
        border-bottom: 0
    }

    .header-simple #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
        display: none
    }

    .header-simple #Top_bar #menu ul li ul {
        position: relative !important;
        left: 0 !important;
        top: 0;
        padding: 0;
        margin: 0 !important;
        width: auto !important;
        background-image: none
    }

    .header-simple #Top_bar #menu ul li ul li {
        width: 100% !important;
        display: block;
        padding: 0;
    }

    .header-simple #Top_bar #menu ul li ul li a {
        padding: 0 20px 0 30px
    }

    .header-simple #Top_bar #menu ul li ul li a .menu-arrow {
        display: none
    }

    .header-simple #Top_bar #menu ul li ul li a span {
        padding: 0
    }

    .header-simple #Top_bar #menu ul li ul li a span:after {
        display: none !important
    }

    .header-simple #Top_bar .menu>li>ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400
    }

    .header-simple #Top_bar .menu>li>ul.mfn-megamenu>li>ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto
    }

    .header-simple #Top_bar #menu ul li ul li ul {
        border-left: 0 !important;
        padding: 0;
        top: 0
    }

    .header-simple #Top_bar #menu ul li ul li ul li a {
        padding: 0 20px 0 40px
    }

    .rtl.header-simple #Top_bar #menu {
        left: 1px;
        right: auto
    }

    .rtl.header-simple #Top_bar a.responsive-menu-toggle {
        left: 10px;
        right: auto
    }

    .rtl.header-simple #Top_bar #menu ul li.submenu .menu-toggle {
        left: 0;
        right: auto
    }

    .rtl.header-simple #Top_bar #menu ul li ul {
        left: auto !important;
        right: 0 !important
    }

    .rtl.header-simple #Top_bar #menu ul li ul li a {
        padding: 0 30px 0 20px
    }

    .rtl.header-simple #Top_bar #menu ul li ul li ul li a {
        padding: 0 40px 0 20px
    }

    .menu-highlight #Top_bar .menu>li {
        margin: 0 2px
    }

    .menu-highlight:not(.header-creative) #Top_bar .menu>li>a {
        margin: 20px 0;
        padding: 0;
        -webkit-border-radius: 5px;
        border-radius: 5px
    }

    .menu-highlight #Top_bar .menu>li>a:after {
        display: none
    }

    .menu-highlight #Top_bar .menu>li>a span:not(.description) {
        line-height: 50px
    }

    .menu-highlight #Top_bar .menu>li>a span.description {
        display: none
    }

    .menu-highlight.header-stack #Top_bar .menu>li>a {
        margin: 10px 0 !important
    }

    .menu-highlight.header-stack #Top_bar .menu>li>a span:not(.description) {
        line-height: 40px
    }

    .menu-highlight.header-transparent #Top_bar .menu>li>a {
        margin: 5px 0
    }

    .menu-highlight.header-simple #Top_bar #menu ul li,
    .menu-highlight.header-creative #Top_bar #menu ul li {
        margin: 0
    }

    .menu-highlight.header-simple #Top_bar #menu ul li>a,
    .menu-highlight.header-creative #Top_bar #menu ul li>a {
        -webkit-border-radius: 0;
        border-radius: 0
    }

    .menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu>li>a {
        margin: 10px 0 !important;
        padding: 5px 0 !important
    }

    .menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu>li>a span {
        line-height: 30px !important
    }

    .header-modern.menu-highlight.menuo-right .menu_wrapper {
        margin-right: 20px
    }

    .menu-line-below #Top_bar .menu>li>a:after {
        top: auto;
        bottom: -4px
    }

    .menu-line-below #Top_bar.is-sticky .menu>li>a:after {
        top: auto;
        bottom: -4px
    }

    .menu-line-below-80 #Top_bar:not(.is-sticky) .menu>li>a:after {
        height: 4px;
        left: 10%;
        top: 50%;
        margin-top: 20px;
        width: 80%
    }

    .menu-line-below-80-1 #Top_bar:not(.is-sticky) .menu>li>a:after {
        height: 1px;
        left: 10%;
        top: 50%;
        margin-top: 20px;
        width: 80%
    }

    .menu-link-color #Top_bar .menu>li>a:after {
        display: none !important
    }

    .menu-arrow-top #Top_bar .menu>li>a:after {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        border-color: #ccc transparent transparent;
        border-style: solid;
        border-width: 7px 7px 0;
        display: block;
        height: 0;
        left: 50%;
        margin-left: -7px;
        top: 0 !important;
        width: 0
    }

    .menu-arrow-top.header-transparent #Top_bar .menu>li>a:after,
    .menu-arrow-top.header-plain #Top_bar .menu>li>a:after {
        display: none
    }

    .menu-arrow-top #Top_bar.is-sticky .menu>li>a:after {
        top: 0 !important
    }

    .menu-arrow-bottom #Top_bar .menu>li>a:after {
        background: none !important;
        border-color: transparent transparent #ccc;
        border-style: solid;
        border-width: 0 7px 7px;
        display: block;
        height: 0;
        left: 50%;
        margin-left: -7px;
        top: auto;
        bottom: 0;
        width: 0
    }

    .menu-arrow-bottom.header-transparent #Top_bar .menu>li>a:after,
    .menu-arrow-bottom.header-plain #Top_bar .menu>li>a:after {
        display: none
    }

    .menu-arrow-bottom #Top_bar.is-sticky .menu>li>a:after {
        top: auto;
        bottom: 0
    }

    .menuo-no-borders #Top_bar .menu>li>a span:not(.description) {
        border-right-width: 0
    }

    .menuo-no-borders #Header_creative #Top_bar .menu>li>a span {
        border-bottom-width: 0
    }

    .menuo-right #Top_bar .menu_wrapper {
        float: right
    }

    .menuo-right.header-stack:not(.header-center) #Top_bar .menu_wrapper {
        margin-right: 150px
    }

    body.header-creative {
        padding-left: 50px
    }

    body.header-creative.header-open {
        padding-left: 250px
    }

    body.error404,
    body.under-construction,
    body.template-blank {
        padding-left: 0 !important
    }

    .header-creative.footer-fixed #Footer,
    .header-creative.footer-sliding #Footer,
    .header-creative.footer-stick #Footer.is-sticky {
        box-sizing: border-box;
        padding-left: 50px;
    }

    .header-open.footer-fixed #Footer,
    .header-open.footer-sliding #Footer,
    .header-creative.footer-stick #Footer.is-sticky {
        padding-left: 250px;
    }

    .header-rtl.header-creative.footer-fixed #Footer,
    .header-rtl.header-creative.footer-sliding #Footer,
    .header-rtl.header-creative.footer-stick #Footer.is-sticky {
        padding-left: 0;
        padding-right: 50px;
    }

    .header-rtl.header-open.footer-fixed #Footer,
    .header-rtl.header-open.footer-sliding #Footer,
    .header-rtl.header-creative.footer-stick #Footer.is-sticky {
        padding-right: 250px;
    }

    #Header_creative {
        background: #fff;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -200px;
        top: 0;
        z-index: 9002;
        -webkit-box-shadow: 2px 0 4px 2px rgba(0, 0, 0, .15);
        box-shadow: 2px 0 4px 2px rgba(0, 0, 0, .15)
    }

    #Header_creative .container {
        width: 100%
    }

    #Header_creative .creative-wrapper {
        opacity: 0;
        margin-right: 50px
    }

    #Header_creative a.creative-menu-toggle {
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 22px;
        text-align: center;
        position: absolute;
        top: 10px;
        right: 8px;
        border-radius: 3px
    }

    .admin-bar #Header_creative a.creative-menu-toggle {
        top: 42px
    }

    #Header_creative #Top_bar {
        position: static;
        width: 100%
    }

    #Header_creative #Top_bar .top_bar_left {
        width: 100% !important;
        float: none
    }

    #Header_creative #Top_bar .top_bar_right {
        width: 100% !important;
        float: none;
        height: auto;
        margin-bottom: 35px;
        text-align: center;
        padding: 0 20px;
        top: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    #Header_creative #Top_bar .top_bar_right:before {
        display: none
    }

    #Header_creative #Top_bar .top_bar_right_wrapper {
        top: 0
    }

    #Header_creative #Top_bar .logo {
        float: none;
        text-align: center;
        margin: 15px 0
    }

    #Header_creative #Top_bar .menu_wrapper {
        float: none;
        margin: 0 0 30px
    }

    #Header_creative #Top_bar .menu>li {
        width: 100%;
        float: none;
        position: relative
    }

    #Header_creative #Top_bar .menu>li>a {
        padding: 0;
        text-align: center
    }

    #Header_creative #Top_bar .menu>li>a:after {
        display: none
    }

    #Header_creative #Top_bar .menu>li>a span {
        border-right: 0;
        border-bottom-width: 1px;
        line-height: 38px
    }

    #Header_creative #Top_bar .menu li ul {
        left: 100%;
        right: auto;
        top: 0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.03)
    }

    #Header_creative #Top_bar .menu>li>ul.mfn-megamenu {
        width: 700px !important;
    }

    #Header_creative #Top_bar .menu>li>ul.mfn-megamenu>li>ul {
        left: 0
    }

    #Header_creative #Top_bar .menu li ul li a {
        padding-top: 9px;
        padding-bottom: 8px
    }

    #Header_creative #Top_bar .menu li ul li ul {
        top: 0 !important
    }

    #Header_creative #Top_bar .menu>li>a span.description {
        display: block;
        font-size: 13px;
        line-height: 28px !important;
        clear: both
    }

    #Header_creative #Top_bar .search_wrapper {
        left: 100%;
        top: auto;
        bottom: 0
    }

    #Header_creative #Top_bar a#header_cart {
        display: inline-block;
        float: none;
        top: 3px
    }

    #Header_creative #Top_bar a#search_button {
        display: inline-block;
        float: none;
        top: 3px
    }

    #Header_creative #Top_bar .wpml-languages {
        display: inline-block;
        float: none;
        top: 0
    }

    #Header_creative #Top_bar .wpml-languages.enabled:hover a.active {
        padding-bottom: 9px
    }

    #Header_creative #Top_bar a.button.action_button {
        display: inline-block;
        float: none;
        top: 16px;
        margin: 0
    }

    #Header_creative #Top_bar .banner_wrapper {
        display: block;
        text-align: center
    }

    #Header_creative #Top_bar .banner_wrapper img {
        max-width: 100%;
        height: auto;
        display: inline-block
    }

    #Header_creative #Action_bar {
        position: absolute;
        bottom: 0;
        top: auto;
        clear: both;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    #Header_creative #Action_bar .social {
        float: none;
        text-align: center;
        padding: 5px 0 15px
    }

    #Header_creative #Action_bar .social li {
        margin-bottom: 2px
    }

    #Header_creative .social li a {
        color: rgba(0, 0, 0, .5)
    }

    #Header_creative .social li a:hover {
        color: #000
    }

    #Header_creative .creative-social {
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 50px
    }

    #Header_creative .creative-social li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 5px
    }

    .header-creative .fixed-nav.fixed-nav-prev {
        margin-left: 50px
    }

    .header-creative.header-open .fixed-nav.fixed-nav-prev {
        margin-left: 250px
    }

    .menuo-last #Header_creative #Top_bar .menu li.last ul {
        top: auto;
        bottom: 0
    }

    .header-open #Header_creative {
        left: 0
    }

    .header-open #Header_creative .creative-wrapper {
        opacity: 1;
        margin: 0 !important;
    }

    .header-open #Header_creative .creative-menu-toggle,
    .header-open #Header_creative .creative-social {
        display: none
    }

    body.header-rtl.header-creative {
        padding-left: 0;
        padding-right: 50px
    }

    .header-rtl #Header_creative {
        left: auto;
        right: -200px
    }

    .header-rtl.nice-scroll #Header_creative {
        margin-right: 10px
    }

    .header-rtl #Header_creative .creative-wrapper {
        margin-left: 50px;
        margin-right: 0
    }

    .header-rtl #Header_creative a.creative-menu-toggle {
        left: 8px;
        right: auto
    }

    .header-rtl #Header_creative .creative-social {
        left: 0;
        right: auto
    }

    .header-rtl #Footer #back_to_top.sticky {
        right: 125px
    }

    .header-rtl #popup_contact {
        right: 70px
    }

    .header-rtl #Header_creative #Top_bar .menu li ul {
        left: auto;
        right: 100%
    }

    .header-rtl #Header_creative #Top_bar .search_wrapper {
        left: auto;
        right: 100%;
    }

    .header-rtl .fixed-nav.fixed-nav-prev {
        margin-left: 0 !important
    }

    .header-rtl .fixed-nav.fixed-nav-next {
        margin-right: 50px
    }

    body.header-rtl.header-creative.header-open {
        padding-left: 0;
        padding-right: 250px !important
    }

    .header-rtl.header-open #Header_creative {
        left: auto;
        right: 0
    }

    .header-rtl.header-open #Footer #back_to_top.sticky {
        right: 325px
    }

    .header-rtl.header-open #popup_contact {
        right: 270px
    }

    .header-rtl.header-open .fixed-nav.fixed-nav-next {
        margin-right: 250px
    }

    #Header_creative.active {
        left: -1px;
    }

    .header-rtl #Header_creative.active {
        left: auto;
        right: -1px;
    }

    #Header_creative.active .creative-wrapper {
        opacity: 1;
        margin: 0
    }

    .header-creative .vc_row[data-vc-full-width] {
        padding-left: 50px
    }

    .header-creative.header-open .vc_row[data-vc-full-width] {
        padding-left: 250px
    }

    .header-open .vc_parallax .vc_parallax-inner {
        left: auto;
        width: calc(100% - 250px);
    }

    .header-open.header-rtl .vc_parallax .vc_parallax-inner {
        left: 0;
        right: auto;
    }

    #Header_creative.scroll {
        height: 100%;
        overflow-y: auto
    }

    #Header_creative.scroll:not(.dropdown) .menu li ul {
        display: none !important
    }

    #Header_creative.scroll #Action_bar {
        position: static
    }

    #Header_creative.dropdown {
        outline: none
    }

    #Header_creative.dropdown #Top_bar .menu_wrapper {
        float: left
    }

    #Header_creative.dropdown #Top_bar #menu ul li {
        position: relative;
        float: left
    }

    #Header_creative.dropdown #Top_bar #menu ul li a:after {
        display: none
    }

    #Header_creative.dropdown #Top_bar #menu ul li a span {
        line-height: 38px;
        padding: 0
    }

    #Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        color: #444;
        opacity: 0.33;
    }

    #Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle:after {
        content: "+"
    }

    #Header_creative.dropdown #Top_bar #menu ul li.hover>.menu-toggle:after {
        content: "-"
    }

    #Header_creative.dropdown #Top_bar #menu ul li.hover a {
        border-bottom: 0
    }

    #Header_creative.dropdown #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
        display: none
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul {
        position: relative !important;
        left: 0 !important;
        top: 0;
        padding: 0;
        margin-left: 0 !important;
        width: auto !important;
        background-image: none
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li {
        width: 100% !important
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li a {
        padding: 0 10px;
        text-align: center
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li a .menu-arrow {
        display: none
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li a span {
        padding: 0
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li a span:after {
        display: none !important
    }

    #Header_creative.dropdown #Top_bar .menu>li>ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400
    }

    #Header_creative.dropdown #Top_bar .menu>li>ul.mfn-megamenu>li>ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto
    }

    #Header_creative.dropdown #Top_bar #menu ul li ul li ul {
        border-left: 0 !important;
        padding: 0;
        top: 0
    }

    #Header_creative {
        transition: left .5s ease-in-out, right .5s ease-in-out;
    }

    #Header_creative .creative-wrapper {
        transition: opacity .5s ease-in-out, margin 0s ease-in-out .5s;
    }

    #Header_creative.active .creative-wrapper {
        transition: opacity .5s ease-in-out, margin 0s ease-in-out;
    }
}

@media only screen and (min-width: 1240px) {
    #Top_bar.is-sticky {
        position: fixed !important;
        width: 100%;
        left: 0;
        top: -60px;
        height: 60px;
        z-index: 701;
        background: #fff;
        opacity: .97;
        filter: alpha(opacity=97);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
    }

    .layout-boxed.header-boxed #Top_bar.is-sticky {
        max-width: 1240px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .layout-boxed.header-boxed.nice-scroll #Top_bar.is-sticky {
        margin-left: -5px
    }

    #Top_bar.is-sticky .top_bar_left,
    #Top_bar.is-sticky .top_bar_right,
    #Top_bar.is-sticky .top_bar_right:before {
        background: none
    }

    #Top_bar.is-sticky .top_bar_right {
        top: -4px;
        height: auto;
    }

    #Top_bar.is-sticky .top_bar_right_wrapper {
        top: 15px
    }

    .header-plain #Top_bar.is-sticky .top_bar_right_wrapper {
        top: 0
    }

    #Top_bar.is-sticky .logo {
        width: auto;
        margin: 0 30px 0 20px;
        padding: 0
    }

    #Top_bar.is-sticky #logo {
        padding: 5px 0 !important;
        height: 50px !important;
        line-height: 50px !important
    }

    #Top_bar.is-sticky #logo img:not(.svg) {
        max-height: 35px;
        width: auto !important
    }

    #Top_bar.is-sticky #logo img.logo-main {
        display: none
    }

    #Top_bar.is-sticky #logo img.logo-sticky {
        display: inline
    }

    #Top_bar.is-sticky .menu_wrapper {
        clear: none
    }

    #Top_bar.is-sticky .menu_wrapper .menu>li>a {
        padding: 15px 0
    }

    #Top_bar.is-sticky .menu>li>a,
    #Top_bar.is-sticky .menu>li>a span {
        line-height: 30px
    }

    #Top_bar.is-sticky .menu>li>a:after {
        top: auto;
        bottom: -4px
    }

    #Top_bar.is-sticky .menu>li>a span.description {
        display: none
    }

    #Top_bar.is-sticky .secondary_menu_wrapper,
    #Top_bar.is-sticky .banner_wrapper {
        display: none
    }

    .header-overlay #Top_bar.is-sticky {
        display: none
    }

    .sticky-dark #Top_bar.is-sticky {
        background: rgba(0, 0, 0, .8)
    }

    .sticky-dark #Top_bar.is-sticky #menu {
        background: rgba(0, 0, 0, .8)
    }

    .sticky-dark #Top_bar.is-sticky .menu>li>a {
        color: #fff
    }

    .sticky-dark #Top_bar.is-sticky .top_bar_right a {
        color: rgba(255, 255, 255, .5)
    }

    .sticky-dark #Top_bar.is-sticky .wpml-languages a.active,
    .sticky-dark #Top_bar.is-sticky .wpml-languages ul.wpml-lang-dropdown {
        background: rgba(0, 0, 0, 0.3);
        border-color: rgba(0, 0, 0, 0.1)
    }
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
    .header_placeholder {
        height: 0 !important
    }
}

@media only screen and (max-width: 1239px) {
    #Top_bar #menu {
        display: none;
        height: auto;
        width: 300px;
        bottom: auto;
        top: 100%;
        right: 1px;
        position: absolute;
        margin: 0
    }

    #Top_bar a.responsive-menu-toggle {
        display: block
    }

    #Top_bar #menu>ul {
        width: 100%;
        float: left
    }

    #Top_bar #menu ul li {
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
        position: relative
    }

    #Top_bar #menu ul li a {
        padding: 0 25px;
        margin: 0;
        display: block;
        height: auto;
        line-height: normal;
        border: none
    }

    #Top_bar #menu ul li a:after {
        display: none
    }

    #Top_bar #menu ul li a span {
        border: none;
        line-height: 44px;
        display: inline;
        padding: 0
    }

    #Top_bar #menu ul li a span.description {
        margin: 0 0 0 5px
    }

    #Top_bar #menu ul li.submenu .menu-toggle {
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        color: #444;
        opacity: 0.33;
    }

    #Top_bar #menu ul li.submenu .menu-toggle:after {
        content: "+"
    }

    #Top_bar #menu ul li.hover>.menu-toggle:after {
        content: "-"
    }

    #Top_bar #menu ul li.hover a {
        border-bottom: 0
    }

    #Top_bar #menu ul li a span:after {
        display: none !important
    }

    #Top_bar #menu ul.mfn-megamenu li .menu-toggle {
        display: none
    }

    #Top_bar #menu ul li ul {
        position: relative !important;
        left: 0 !important;
        top: 0;
        padding: 0;
        margin-left: 0 !important;
        width: auto !important;
        background-image: none !important;
        box-shadow: 0 0 0 0 transparent !important;
        -webkit-box-shadow: 0 0 0 0 transparent !important
    }

    #Top_bar #menu ul li ul li {
        width: 100% !important
    }

    #Top_bar #menu ul li ul li a {
        padding: 0 20px 0 35px
    }

    #Top_bar #menu ul li ul li a .menu-arrow {
        display: none
    }

    #Top_bar #menu ul li ul li a span {
        padding: 0
    }

    #Top_bar #menu ul li ul li a span:after {
        display: none !important
    }

    #Top_bar .menu>li>ul.mfn-megamenu a.mfn-megamenu-title {
        text-transform: uppercase;
        font-weight: 400
    }

    #Top_bar .menu>li>ul.mfn-megamenu>li>ul {
        display: block !important;
        position: inherit;
        left: auto;
        top: auto
    }

    #Top_bar #menu ul li ul li ul {
        border-left: 0 !important;
        padding: 0;
        top: 0
    }

    #Top_bar #menu ul li ul li ul li a {
        padding: 0 20px 0 45px
    }

    .rtl #Top_bar #menu {
        left: 1px;
        right: auto
    }

    .rtl #Top_bar a.responsive-menu-toggle {
        left: 20px;
        right: auto
    }

    .rtl #Top_bar #menu ul li.submenu .menu-toggle {
        left: 15px;
        right: auto;
        border-left: none;
        border-right: 1px solid #eee
    }

    .rtl #Top_bar #menu ul li ul {
        left: auto !important;
        right: 0 !important
    }

    .rtl #Top_bar #menu ul li ul li a {
        padding: 0 30px 0 20px
    }

    .rtl #Top_bar #menu ul li ul li ul li a {
        padding: 0 40px 0 20px
    }

    .header-stack .menu_wrapper a.responsive-menu-toggle {
        position: static !important;
        margin: 11px 0 !important
    }

    .header-stack .menu_wrapper #menu {
        left: 0;
        right: auto
    }

    .rtl.header-stack #Top_bar #menu {
        left: auto;
        right: 0
    }

    .admin-bar #Header_creative {
        top: 32px
    }

    .header-creative.layout-boxed {
        padding-top: 85px
    }

    .header-creative.layout-full-width #Wrapper {
        padding-top: 60px
    }

    #Header_creative {
        position: fixed;
        width: 100%;
        left: 0 !important;
        top: 0;
        z-index: 1001
    }

    #Header_creative .creative-wrapper {
        display: block !important;
        opacity: 1 !important
    }

    #Header_creative .creative-menu-toggle,
    #Header_creative .creative-social {
        display: none !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important
    }

    #Header_creative #Top_bar {
        position: static;
        width: 100%
    }

    #Header_creative #Top_bar #logo {
        height: 50px;
        line-height: 50px;
        padding: 5px 0
    }

    #Header_creative #Top_bar #logo img {
        max-height: 40px
    }

    #Header_creative #logo img.logo-main {
        display: none
    }

    #Header_creative #logo img.logo-sticky {
        display: inline-block
    }

    .logo-no-sticky-padding #Header_creative #Top_bar #logo {
        height: 60px;
        line-height: 60px;
        padding: 0
    }

    .logo-no-sticky-padding #Header_creative #Top_bar #logo img {
        max-height: 60px
    }

    #Header_creative #Top_bar #header_cart {
        top: 21px
    }

    #Header_creative #Top_bar #search_button {
        top: 20px
    }

    #Header_creative #Top_bar .wpml-languages {
        top: 11px
    }

    #Header_creative #Top_bar .action_button {
        top: 9px
    }

    #Header_creative #Top_bar .top_bar_right {
        height: 60px;
        top: 0
    }

    #Header_creative #Top_bar .top_bar_right:before {
        display: none
    }

    #Header_creative #Top_bar .top_bar_right_wrapper {
        top: 0
    }

    #Header_creative #Action_bar {
        display: none
    }

    #Header_creative.scroll {
        overflow: visible !important
    }
}

#Header_wrapper,
#Intro {
    background-color: #000119;
}

#Subheader {
    background-color: rgba(247, 249, 250, 1);
}

.header-classic #Action_bar,
.header-fixed #Action_bar,
.header-plain #Action_bar,
.header-split #Action_bar,
.header-stack #Action_bar {
    background-color: #2C2C2C;
}

#Sliding-top {
    background-color: #141b22;
}

#Sliding-top a.sliding-top-control {
    border-right-color: #141b22;
}

#Sliding-top.st-center a.sliding-top-control,
#Sliding-top.st-left a.sliding-top-control {
    border-top-color: #141b22;
}

#Footer {
    background-color: #333439;
}

body,
ul.timeline_items,
.icon_box a .desc,
.icon_box a:hover .desc,
.feature_list ul li a,
.list_item a,
.list_item a:hover,
.widget_recent_entries ul li a,
.flat_box a,
.flat_box a:hover,
.story_box .desc,
.content_slider.carouselul li a .title,
.content_slider.flat.description ul li .desc,
.content_slider.flat.description ul li a .desc,
.post-nav.minimal a i {
    color: #f0efef;
}

.post-nav.minimal a svg {
    fill: #f0efef;
}

.themecolor,
.opening_hours .opening_hours_wrapper li span,
.fancy_heading_icon .icon_top,
.fancy_heading_arrows .icon-right-dir,
.fancy_heading_arrows .icon-left-dir,
.fancy_heading_line .title,
.button-love a.mfn-love,
.format-link .post-title .icon-link,
.pager-single>span,
.pager-single a:hover,
.widget_meta ul,
.widget_pages ul,
.widget_rss ul,
.widget_mfn_recent_comments ul li:after,
.widget_archive ul,
.widget_recent_comments ul li:after,
.widget_nav_menu ul,
.woocommerce ul.products li.product .price,
.shop_slider .shop_slider_ul li .item_wrapper .price,
.woocommerce-page ul.products li.product .price,
.widget_price_filter .price_label .from,
.widget_price_filter .price_label .to,
.woocommerce ul.product_list_widget li .quantity .amount,
.woocommerce .product div.entry-summary .price,
.woocommerce .star-rating span,
#Error_404 .error_pic i,
.style-simple #Filters .filters_wrapper ul li a:hover,
.style-simple #Filters .filters_wrapper ul li.current-cat a,
.style-simple .quick_fact .title {
    color: #ed6123;
}

.themebg,
#comments .commentlist>li .reply a.comment-reply-link,
div.jp-interface,
#Filters .filters_wrapper ul li a:hover,
#Filters .filters_wrapper ul li.current-cat a,
.fixed-nav .arrow,
.offer_thumb .slider_pagination a:before,
.offer_thumb .slider_pagination a.selected:after,
.pager .pages a:hover,
.pager .pages a.active,
.pager .pages span.page-numbers.current,
.pager-single span:after,
.portfolio_group.exposure .portfolio-item .desc-inner .line,
.Recent_posts ul li .desc:after,
.Recent_posts ul li .photo .c,
.slider_pagination a.selected,
.slider_pagination .slick-active a,
.slider_pagination a.selected:after,
.slider_pagination .slick-active a:after,
.testimonials_slider .slider_images,
.testimonials_slider .slider_images a:after,
.testimonials_slider .slider_images:before,
#Top_bar a#header_cart span,
.widget_categories ul,
.widget_mfn_menu ul li a:hover,
.widget_mfn_menu ul li.current-menu-item:not(.current-menu-ancestor)>a,
.widget_mfn_menu ul li.current_page_item:not(.current_page_ancestor)>a,
.widget_product_categories ul,
.widget_recent_entries ul li:after,
.woocommerce-account table.my_account_orders .order-number a,
.woocommerce-MyAccount-navigation ul li.is-active a,
.style-simple .accordion .question:after,
.style-simple .faq .question:after,
.style-simple .icon_box .desc_wrapper .title:before,
.style-simple #Filters .filters_wrapper ul li a:after,
.style-simple .article_box .desc_wrapper p:after,
.style-simple .sliding_box .desc_wrapper:after,
.style-simple .trailer_box:hover .desc,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet.selected:after,
.tparrows.default,
.tp-bullets.tp-thumbs .bullet.selected:after {
    background-color: #ed6123;
}

.Latest_news ul li .photo,
.style-simple .opening_hours .opening_hours_wrapper li label,
.style-simple .timeline_items li:hover h3,
.style-simple .timeline_items li:nth-child(even):hover h3,
.style-simple .timeline_items li:hover .desc,
.style-simple .timeline_items li:nth-child(even):hover,
.style-simple .offer_thumb .slider_pagination a.selected {
    border-color: #ed6123;
}

a {
    color: #B0A689;
}

a:hover {
    color: #ed6123;
}

*::-moz-selection {
    background-color: #B0A689;
}

*::selection {
    background-color: #B0A689;
}

.blockquote p.author span,
.counter .desc_wrapper .title,
.article_box .desc_wrapper p,
.team .desc_wrapper p.subtitle,
.pricing-box .plan-header p.subtitle,
.pricing-box .plan-header .price sup.period,
.chart_box p,
.fancy_heading .inside,
.fancy_heading_line .slogan,
.post-meta,
.post-meta a,
.post-footer,
.post-footer a span.label,
.pager .pages a,
.button-love a .label,
.pager-single a,
#comments .commentlist>li .comment-author .says,
.fixed-nav .desc .date,
.filters_buttons li.label,
.Recent_posts ul li a .desc .date,
.widget_recent_entries ul li .post-date,
.tp_recent_tweets .twitter_time,
.widget_price_filter .price_label,
.shop-filters .woocommerce-result-count,
.woocommerce ul.product_list_widget li .quantity,
.widget_shopping_cart ul.product_list_widget li dl,
.product_meta .posted_in,
.woocommerce .shop_table .product-name .variation>dd,
.shipping-calculator-button:after,
.shop_slider .shop_slider_ul li .item_wrapper .price del,
.testimonials_slider .testimonials_slider_ul li .author span,
.testimonials_slider .testimonials_slider_ul li .author span a,
.Latest_news ul li .desc_footer {
    color: #a8a8a8;
}

h1,
h1 a,
h1 a:hover,
.text-logo #logo {
    color: #ffffff;
}

h2,
h2 a,
h2 a:hover {
    color: #ffffff;
}

h3,
h3 a,
h3 a:hover {
    color: #ffffff;
}

h4,
h4 a,
h4 a:hover,
.style-simple .sliding_box .desc_wrapper h4 {
    color: #ffffff;
}

h5,
h5 a,
h5 a:hover {
    color: #ffffff;
}

h6,
h6 a,
h6 a:hover,
a.content_link .title {
    color: #ffffff;
}

.dropcap,
.highlight:not(.highlight_image) {
    background-color: #8d856b;
}

a.button,
a.tp-button {
    background-color: #ed6123;
    color: #ffffff;
}

.button-stroke a.button,
.button-stroke a.button.action_button,
.button-stroke a.button .button_icon i,
.button-stroke a.tp-button {
    border-color: #ed6123;
    color: #ffffff;
}

.button-stroke a:hover.button,
.button-stroke a:hover.tp-button {
    background-color: #ed6123 !important;
    color: #fff;
}

a.button_theme,
a.tp-button.button_theme,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: #ed6123;
    color: #fff;
}

.button-stroke a.button.button_theme:not(.action_button),
.button-stroke a.button.button_theme .button_icon i,
.button-stroke a.tp-button.button_theme,
.button-stroke button,
.button-stroke input[type="submit"],
.button-stroke input[type="reset"],
.button-stroke input[type="button"] {
    border-color: #ed6123;
    color: #ed6123 !important;
}

.button-stroke a.button.button_theme:hover,
.button-stroke a.tp-button.button_theme:hover,
.button-stroke button:hover,
.button-stroke input[type="submit"]:hover,
.button-stroke input[type="reset"]:hover,
.button-stroke input[type="button"]:hover {
    background-color: #ed6123 !important;
    color: #fff !important;
}

a.mfn-link {
    color: #656B6F;
}

a.mfn-link-2 span,
a:hover.mfn-link-2 span:before,
a.hover.mfn-link-2 span:before,
a.mfn-link-5 span,
a.mfn-link-8:after,
a.mfn-link-8:before {
    background: #B0A689;
}

a:hover.mfn-link {
    color: #B0A689;
}

a.mfn-link-2 span:before,
a:hover.mfn-link-4:before,
a:hover.mfn-link-4:after,
a.hover.mfn-link-4:before,
a.hover.mfn-link-4:after,
a.mfn-link-5:before,
a.mfn-link-7:after,
a.mfn-link-7:before {
    background: #9C9279;
}

a.mfn-link-6:before {
    border-bottom-color: #9C9279;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #ed6123;
    color: #fff;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #ed6123;
    color: #fff;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit[disabled]:disabled,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button[disabled]:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button[disabled]:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled {
    background-color: #ed6123;
    color: #fff;
}

.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit[disabled]:disabled:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button[disabled]:disabled:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button[disabled]:disabled:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button[disabled]:disabled:hover {
    background-color: #ed6123;
    color: #fff;
}

.button-stroke.woocommerce-page #respond input#submit,
.button-stroke.woocommerce-page a.button:not(.action_button),
.button-stroke.woocommerce-page button.button,
.button-stroke.woocommerce-page input.button {
    border: 2px solid #ed6123 !important;
    color: #ed6123 !important;
}

.button-stroke.woocommerce-page #respond input#submit:hover,
.button-stroke.woocommerce-page a.button:not(.action_button):hover,
.button-stroke.woocommerce-page button.button:hover,
.button-stroke.woocommerce-page input.button:hover {
    background-color: #ed6123 !important;
    color: #fff !important;
}

.column_column ul,
.column_column ol,
.the_content_wrapper ul,
.the_content_wrapper ol {
    color: #737E86;
}

.hr_color,
.hr_color hr,
.hr_dots span {
    color: #8d856b;
    background: #8d856b;
}

.hr_zigzag i {
    color: #8d856b;
}

.highlight-left:after,
.highlight-right:after {
    background: #8d856b;
}

@media only screen and (max-width: 767px) {

    .highlight-left .wrap:first-child,
    .highlight-right .wrap:last-child {
        background: #8d856b;
    }
}

#Header .top_bar_left,
.header-classic #Top_bar,
.header-plain #Top_bar,
.header-stack #Top_bar,
.header-split #Top_bar,
.header-fixed #Top_bar,
.header-below #Top_bar,
#Header_creative,
#Top_bar #menu,
.sticky-tb-color #Top_bar.is-sticky {
    background-color: #2b2c30;
}

#Top_bar .wpml-languages a.active,
#Top_bar .wpml-languages ul.wpml-lang-dropdown {
    background-color: #2b2c30;
}

#Top_bar .top_bar_right:before {
    background-color: #e3e3e3;
}

#Header .top_bar_right {
    background-color: #f5f5f5;
}

#Top_bar .top_bar_right a:not(.action_button) {
    color: #333333;
}

#Top_bar .menu>li>a,
#Top_bar #menu ul li.submenu .menu-toggle {
    color: #ffffff;
}

#Top_bar .menu>li.current-menu-item>a,
#Top_bar .menu>li.current_page_item>a,
#Top_bar .menu>li.current-menu-parent>a,
#Top_bar .menu>li.current-page-parent>a,
#Top_bar .menu>li.current-menu-ancestor>a,
#Top_bar .menu>li.current-page-ancestor>a,
#Top_bar .menu>li.current_page_ancestor>a,
#Top_bar .menu>li.hover>a {
    color: #ed6123;
}

#Top_bar .menu>li a:after {
    background: #ed6123;
}

.menuo-arrows #Top_bar .menu>li.submenu>a>span:not(.description)::after {
    border-top-color: #ffffff;
}

#Top_bar .menu>li.current-menu-item.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current_page_item.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current-menu-parent.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current-page-parent.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current-menu-ancestor.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current-page-ancestor.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.current_page_ancestor.submenu>a>span:not(.description)::after,
#Top_bar .menu>li.hover.submenu>a>span:not(.description)::after {
    border-top-color: #ed6123;
}

.menu-highlight #Top_bar #menu>ul>li.current-menu-item>a,
.menu-highlight #Top_bar #menu>ul>li.current_page_item>a,
.menu-highlight #Top_bar #menu>ul>li.current-menu-parent>a,
.menu-highlight #Top_bar #menu>ul>li.current-page-parent>a,
.menu-highlight #Top_bar #menu>ul>li.current-menu-ancestor>a,
.menu-highlight #Top_bar #menu>ul>li.current-page-ancestor>a,
.menu-highlight #Top_bar #menu>ul>li.current_page_ancestor>a,
.menu-highlight #Top_bar #menu>ul>li.hover>a {
    background: #F2F2F2;
}

.menu-arrow-bottom #Top_bar .menu>li>a:after {
    border-bottom-color: #ed6123;
}

.menu-arrow-top #Top_bar .menu>li>a:after {
    border-top-color: #ed6123;
}

.header-plain #Top_bar .menu>li.current-menu-item>a,
.header-plain #Top_bar .menu>li.current_page_item>a,
.header-plain #Top_bar .menu>li.current-menu-parent>a,
.header-plain #Top_bar .menu>li.current-page-parent>a,
.header-plain #Top_bar .menu>li.current-menu-ancestor>a,
.header-plain #Top_bar .menu>li.current-page-ancestor>a,
.header-plain #Top_bar .menu>li.current_page_ancestor>a,
.header-plain #Top_bar .menu>li.hover>a,
.header-plain #Top_bar a:hover#header_cart,
.header-plain #Top_bar a:hover#search_button,
.header-plain #Top_bar .wpml-languages:hover,
.header-plain #Top_bar .wpml-languages ul.wpml-lang-dropdown {
    background: #F2F2F2;
    color: #ed6123;
}

.header-plain #Top_bar,
.header-plain #Top_bar .menu>li>a span:not(.description),
.header-plain #Top_bar a#header_cart,
.header-plain #Top_bar a#search_button,
.header-plain #Top_bar .wpml-languages,
.header-plain #Top_bar a.button.action_button {
    border-color: #F2F2F2;
}

#Top_bar .menu>li ul {
    background-color: #F2F2F2;
}

#Top_bar .menu>li ul li a {
    color: #5f5f5f;
}

#Top_bar .menu>li ul li a:hover,
#Top_bar .menu>li ul li.hover>a {
    color: #2e2e2e;
}

#Top_bar .search_wrapper {
    background: #8d856b;
}

.overlay-menu-toggle {
    color: #8d856b !important;
    background: transparent;
}

#Overlay {
    background: rgba(112, 103, 75, 0.95);
}

#overlay-menu ul li a,
.header-overlay .overlay-menu-toggle.focus {
    color: #FFFFFF;
}

#overlay-menu ul li.current-menu-item>a,
#overlay-menu ul li.current_page_item>a,
#overlay-menu ul li.current-menu-parent>a,
#overlay-menu ul li.current-page-parent>a,
#overlay-menu ul li.current-menu-ancestor>a,
#overlay-menu ul li.current-page-ancestor>a,
#overlay-menu ul li.current_page_ancestor>a {
    color: #e3dabd;
}

#Top_bar .responsive-menu-toggle,
#Header_creative .creative-menu-toggle,
#Header_creative .responsive-menu-toggle {
    color: #8d856b;
    background: transparent;
}

#Side_slide {
    background-color: #191919;
    border-color: #191919;
}

#Side_slide,
#Side_slide .search-wrapper input.field,
#Side_slide a:not(.button),
#Side_slide #menu ul li.submenu .menu-toggle {
    color: #A6A6A6;
}

#Side_slide a:not(.button):hover,
#Side_slide a.active,
#Side_slide #menu ul li.hover>.menu-toggle {
    color: #FFFFFF;
}

#Side_slide #menu ul li.current-menu-item>a,
#Side_slide #menu ul li.current_page_item>a,
#Side_slide #menu ul li.current-menu-parent>a,
#Side_slide #menu ul li.current-page-parent>a,
#Side_slide #menu ul li.current-menu-ancestor>a,
#Side_slide #menu ul li.current-page-ancestor>a,
#Side_slide #menu ul li.current_page_ancestor>a,
#Side_slide #menu ul li.hover>a,
#Side_slide #menu ul li:hover>a {
    color: #FFFFFF;
}

#Action_bar .contact_details {
    color: #bbbbbb
}

#Action_bar .contact_details a {
    color: #0095eb
}

#Action_bar .contact_details a:hover {
    color: #007cc3
}

#Action_bar .social li a,
#Action_bar .social-menu a {
    color: #bbbbbb
}

#Action_bar .social li a:hover,
#Action_bar .social-menu a:hover {
    color: #FFFFFF
}

#Subheader .title {
    color: #2d3133;
}

#Subheader ul.breadcrumbs li,
#Subheader ul.breadcrumbs li a {
    color: rgba(45, 49, 51, 0.6);
}

#Footer,
#Footer .widget_recent_entries ul li a {
    color: #8a8d91;
}

#Footer a {
    color: #d0d1d3;
}

#Footer a:hover {
    color: #eaeaea;
}

#Footer h1,
#Footer h1 a,
#Footer h1 a:hover,
#Footer h2,
#Footer h2 a,
#Footer h2 a:hover,
#Footer h3,
#Footer h3 a,
#Footer h3 a:hover,
#Footer h4,
#Footer h4 a,
#Footer h4 a:hover,
#Footer h5,
#Footer h5 a,
#Footer h5 a:hover,
#Footer h6,
#Footer h6 a,
#Footer h6 a:hover {
    color: #ffffff;
}

#Footer .themecolor,
#Footer .widget_meta ul,
#Footer .widget_pages ul,
#Footer .widget_rss ul,
#Footer .widget_mfn_recent_comments ul li:after,
#Footer .widget_archive ul,
#Footer .widget_recent_comments ul li:after,
#Footer .widget_nav_menu ul,
#Footer .widget_price_filter .price_label .from,
#Footer .widget_price_filter .price_label .to,
#Footer .star-rating span {
    color: #ffffff;
}

#Footer .themebg,
#Footer .widget_categories ul,
#Footer .Recent_posts ul li .desc:after,
#Footer .Recent_posts ul li .photo .c,
#Footer .widget_recent_entries ul li:after,
#Footer .widget_mfn_menu ul li a:hover,
#Footer .widget_product_categories ul {
    background-color: #ffffff;
}

#Footer .Recent_posts ul li a .desc .date,
#Footer .widget_recent_entries ul li .post-date,
#Footer .tp_recent_tweets .twitter_time,
#Footer .widget_price_filter .price_label,
#Footer .shop-filters .woocommerce-result-count,
#Footer ul.product_list_widget li .quantity,
#Footer .widget_shopping_cart ul.product_list_widget li dl {
    color: #a8a8a8;
}

#Footer .footer_copy .social li a,
#Footer .footer_copy .social-menu a {
    color: #65666C;
}

#Footer .footer_copy .social li a:hover,
#Footer .footer_copy .social-menu a:hover {
    color: #FFFFFF;
}

a#back_to_top.button.button_js {
    color: #65666C;
    background: transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}

a#back_to_top.button.button_js:after {
    display: none;
}

#Sliding-top,
#Sliding-top .widget_recent_entries ul li a {
    color: #8a8d91;
}

#Sliding-top a {
    color: #d0d1d3;
}

#Sliding-top a:hover {
    color: #eaeaea;
}

#Sliding-top h1,
#Sliding-top h1 a,
#Sliding-top h1 a:hover,
#Sliding-top h2,
#Sliding-top h2 a,
#Sliding-top h2 a:hover,
#Sliding-top h3,
#Sliding-top h3 a,
#Sliding-top h3 a:hover,
#Sliding-top h4,
#Sliding-top h4 a,
#Sliding-top h4 a:hover,
#Sliding-top h5,
#Sliding-top h5 a,
#Sliding-top h5 a:hover,
#Sliding-top h6,
#Sliding-top h6 a,
#Sliding-top h6 a:hover {
    color: #ffffff;
}

#Sliding-top .themecolor,
#Sliding-top .widget_meta ul,
#Sliding-top .widget_pages ul,
#Sliding-top .widget_rss ul,
#Sliding-top .widget_mfn_recent_comments ul li:after,
#Sliding-top .widget_archive ul,
#Sliding-top .widget_recent_comments ul li:after,
#Sliding-top .widget_nav_menu ul,
#Sliding-top .widget_price_filter .price_label .from,
#Sliding-top .widget_price_filter .price_label .to,
#Sliding-top .star-rating span {
    color: #ffffff;
}

#Sliding-top .themebg,
#Sliding-top .widget_categories ul,
#Sliding-top .Recent_posts ul li .desc:after,
#Sliding-top .Recent_posts ul li .photo .c,
#Sliding-top .widget_recent_entries ul li:after,
#Sliding-top .widget_mfn_menu ul li a:hover,
#Sliding-top .widget_product_categories ul {
    background-color: #ffffff;
}

#Sliding-top .Recent_posts ul li a .desc .date,
#Sliding-top .widget_recent_entries ul li .post-date,
#Sliding-top .tp_recent_tweets .twitter_time,
#Sliding-top .widget_price_filter .price_label,
#Sliding-top .shop-filters .woocommerce-result-count,
#Sliding-top ul.product_list_widget li .quantity,
#Sliding-top .widget_shopping_cart ul.product_list_widget li dl {
    color: #a8a8a8;
}

blockquote,
blockquote a,
blockquote a:hover {
    color: #444444;
}

.image_frame .image_wrapper .image_links,
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
    background: rgba(141, 133, 107, 0.8);
}

.masonry.tiles .post-item .post-desc-wrapper .post-desc .post-title:after,
.masonry.tiles .post-item.no-img,
.masonry.tiles .post-item.format-quote,
.blog-teaser li .desc-wrapper .desc .post-title:after,
.blog-teaser li.no-img,
.blog-teaser li.format-quote {
    background: #8d856b;
}

.image_frame .image_wrapper .image_links a {
    color: #ffffff;
}

.image_frame .image_wrapper .image_links a:hover {
    background: #ffffff;
    color: #8d856b;
}

.image_frame {
    border-color: #f8f8f8;
}

.image_frame .image_wrapper .mask::after {
    background: rgba(0, 0, 0, 0.4);
}

.sliding_box .desc_wrapper {
    background: #8d856b;
}

.sliding_box .desc_wrapper:after {
    border-bottom-color: #8d856b;
}

.counter .icon_wrapper i {
    color: #8d856b;
}

.quick_fact .number-wrapper {
    color: #8d856b;
}

.progress_bars .bars_list li .bar .progress {
    background-color: #8d856b;
}

a:hover.icon_bar {
    color: #8d856b !important;
}

a.content_link,
a:hover.content_link {
    color: #8d856b;
}

a.content_link:before {
    border-bottom-color: #8d856b;
}

a.content_link:after {
    border-color: #8d856b;
}

.get_in_touch,
.infobox {
    background-color: #8d856b;
}

.google-map-contact-wrapper .get_in_touch:after {
    border-top-color: #8d856b;
}

.timeline_items li h3:before,
.timeline_items:after,
.timeline .post-item:before {
    border-color: #ed6123;
}

.how_it_works .image .number {
    background: #ed6123;
}

.trailer_box .desc .subtitle {
    background-color: #8d856b;
}

.icon_box .icon_wrapper,
.icon_box a .icon_wrapper,
.style-simple .icon_box:hover .icon_wrapper {
    color: #8d856b;
}

.icon_box:hover .icon_wrapper:before,
.icon_box a:hover .icon_wrapper:before {
    background-color: #8d856b;
}

ul.clients.clients_tiles li .client_wrapper:hover:before {
    background: #ed6123;
}

ul.clients.clients_tiles li .client_wrapper:after {
    border-bottom-color: #ed6123;
}

.list_item.lists_1 .list_left {
    background-color: #8d856b;
}

.list_item .list_left {
    color: #8d856b;
}

.feature_list ul li .icon i {
    color: #8d856b;
}

.feature_list ul li:hover,
.feature_list ul li:hover a {
    background: #8d856b;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a,
.accordion .question.active .title>.acc-icon-plus,
.accordion .question.active .title>.acc-icon-minus,
.faq .question.active .title>.acc-icon-plus,
.faq .question.active .title,
.accordion .question.active .title {
    color: #8d856b;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
    background: #8d856b;
}

body.table-hover:not(.woocommerce-page) table tr:hover td {
    background: #ed6123;
}

.pricing-box .plan-header .price sup.currency,
.pricing-box .plan-header .price>span {
    color: #8d856b;
}

.pricing-box .plan-inside ul li .yes {
    background: #8d856b;
}

.pricing-box-box.pricing-box-featured {
    background: #8d856b;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea,
.woocommerce .quantity input.qty {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFFFFF;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    color: #FFFFFF;
    background-color: rgba(233, 245, 252, 0) !important;
    border-color: #ed6123;
}

.woocommerce span.onsale,
.shop_slider .shop_slider_ul li .item_wrapper span.onsale {
    border-top-color: #ed6123 !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    border-color: #ed6123 !important;
}

@media only screen and (min-width: 768px) {
    .header-semi #Top_bar:not(.is-sticky) {
        background-color: rgba(43, 44, 48, 0.8);
    }
}

@media only screen and (max-width: 767px) {
    #Top_bar {
        background: #2b2c30 !important;
    }

    #Action_bar {
        background: #FFFFFF !important;
    }

    #Action_bar .contact_details {
        color: #222222
    }

    #Action_bar .contact_details a {
        color: #0095eb
    }

    #Action_bar .contact_details a:hover {
        color: #007cc3
    }

    #Action_bar .social li a,
    #Action_bar .social-menu a {
        color: #bbbbbb
    }

    #Action_bar .social li a:hover,
    #Action_bar .social-menu a:hover {
        color: #777777
    }
}

html {
    background-color: #333439;
}

#Wrapper,
#Content {
    background-color: #333439;
}

body,
button,
span.date_label,
.timeline_items li h3 span,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select,
.offer_li .title h3 {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

#menu>ul>li>a,
.action_button,
#overlay-menu ul li a {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

#Subheader .title {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
.text-logo #logo {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

h5,
h6 {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

blockquote {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

.chart_box .chart .num,
.counter .desc_wrapper .number-wrapper,
.how_it_works .image .number,
.pricing-box .plan-header .price,
.quick_fact .number-wrapper,
.woocommerce .product div.entry-summary .price {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

body {
    font-size: 13px;
    line-height: 21px;
    font-weight: 100;
    letter-spacing: 1px;
}

big,
.big {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}

#menu>ul>li>a,
a.button.action_button {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

#Subheader .title {
    font-size: 52px;
    line-height: 52px;
    font-weight: 100;
    letter-spacing: 0px;
}

h1,
.text-logo #logo {
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
    letter-spacing: -2px;
}

h2 {
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 0px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

h5 {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 1px;
}

h6 {
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 1px;
}

#Intro .intro-title {
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big,
    .big {
        font-size: 14px;
        line-height: 24px;
    }

    #menu>ul>li>a,
    a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 44px;
        line-height: 44px;
    }

    h1,
    .text-logo #logo {
        font-size: 68px;
        line-height: 68px;
    }

    h2 {
        font-size: 27px;
        line-height: 39px;
    }

    h3 {
        font-size: 20px;
        line-height: 29px;
    }

    h4 {
        font-size: 17px;
        line-height: 26px;
    }

    h5 {
        font-size: 13px;
        line-height: 23px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    blockquote {
        font-size: 15px;
    }

    .chart_box .chart .num {
        font-size: 45px;
        line-height: 45px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 45px;
        line-height: 45px;
    }

    .counter .desc_wrapper .title {
        font-size: 14px;
        line-height: 18px;
    }

    .faq .question .title {
        font-size: 14px;
    }

    .fancy_heading .title {
        font-size: 38px;
        line-height: 38px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .pricing-box .plan-header h2 {
        font-size: 27px;
        line-height: 27px;
    }

    .pricing-box .plan-header .price>span {
        font-size: 40px;
        line-height: 40px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 18px;
        line-height: 18px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 14px;
        line-height: 14px;
    }

    .quick_fact .number {
        font-size: 80px;
        line-height: 80px;
    }

    .trailer_box .desc h2 {
        font-size: 27px;
        line-height: 27px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big,
    .big {
        font-size: 13px;
        line-height: 21px;
    }

    #menu>ul>li>a,
    a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 39px;
        line-height: 39px;
    }

    h1,
    .text-logo #logo {
        font-size: 60px;
        line-height: 60px;
    }

    h2 {
        font-size: 24px;
        line-height: 35px;
    }

    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    h4 {
        font-size: 15px;
        line-height: 23px;
    }

    h5 {
        font-size: 13px;
        line-height: 20px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 53px;
        line-height: 53px;
    }

    blockquote {
        font-size: 14px;
    }

    .chart_box .chart .num {
        font-size: 40px;
        line-height: 40px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 40px;
        line-height: 40px;
    }

    .counter .desc_wrapper .title {
        font-size: 13px;
        line-height: 16px;
    }

    .faq .question .title {
        font-size: 13px;
    }


    .fancy_heading .title {
        font-size: 34px;
        line-height: 34px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .pricing-box .plan-header h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .pricing-box .plan-header .price>span {
        font-size: 34px;
        line-height: 34px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 16px;
        line-height: 16px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 13px;
        line-height: 13px;
    }

    .quick_fact .number {
        font-size: 70px;
        line-height: 70px;
    }

    .trailer_box .desc h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }

    big,
    .big {
        font-size: 13px;
        line-height: 19px;
    }

    #menu>ul>li>a,
    a.button.action_button {
        font-size: 13px;
    }

    #Subheader .title {
        font-size: 31px;
        line-height: 31px;
    }

    h1,
    .text-logo #logo {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 19px;
        line-height: 28px;
    }

    h3 {
        font-size: 14px;
        line-height: 20px;
    }

    h4 {
        font-size: 13px;
        line-height: 19px;
    }

    h5 {
        font-size: 13px;
        line-height: 19px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    #Intro .intro-title {
        font-size: 42px;
        line-height: 42px;
    }

    blockquote {
        font-size: 13px;
    }

    .chart_box .chart .num {
        font-size: 35px;
        line-height: 35px;
    }

    .counter .desc_wrapper .number-wrapper {
        font-size: 35px;
        line-height: 35px;
    }

    .counter .desc_wrapper .title {
        font-size: 13px;
        line-height: 26px;
    }

    .faq .question .title {
        font-size: 13px;
    }

    .fancy_heading .title {
        font-size: 30px;
        line-height: 30px;
    }

    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 26px;
        line-height: 26px;
    }

    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 26px;
        line-height: 26px;
    }

    .pricing-box .plan-header h2 {
        font-size: 21px;
        line-height: 21px;
    }

    .pricing-box .plan-header .price>span {
        font-size: 32px;
        line-height: 32px;
    }

    .pricing-box .plan-header .price sup.currency {
        font-size: 14px;
        line-height: 14px;
    }

    .pricing-box .plan-header .price sup.period {
        font-size: 13px;
        line-height: 13px;
    }

    .quick_fact .number {
        font-size: 60px;
        line-height: 60px;
    }

    .trailer_box .desc h2 {
        font-size: 21px;
        line-height: 21px;
    }
}

.with_aside .sidebar.columns {
    width: 23%;
}

.with_aside .sections_group {
    width: 77%;
}

.aside_both .sidebar.columns {
    width: 18%;
}

.aside_both .sidebar.sidebar-1 {
    margin-left: -82%;
}

.aside_both .sections_group {
    width: 64%;
    margin-left: 18%;
}

@media only screen and (min-width:1240px) {

    #Wrapper,
    .with_aside .content_wrapper {
        max-width: 1122px;
    }

    .section_wrapper,
    .container {
        max-width: 1102px;
    }

    .layout-boxed.header-boxed #Top_bar.is-sticky {
        max-width: 1122px;
    }
}

@media only screen and (max-width: 767px) {

    .section_wrapper,
    .container,
    .four.columns .widget-area {
        max-width: 700px !important;
    }
}

#Top_bar #logo,
.header-fixed #Top_bar #logo,
.header-plain #Top_bar #logo,
.header-transparent #Top_bar #logo {
    height: 50px;
    line-height: 50px;
    padding: 10px 0;
}

.logo-overflow #Top_bar:not(.is-sticky) .logo {
    height: 70px;
}

#Top_bar .menu>li>a {
    padding: 5px 0;
}

.menu-highlight:not(.header-creative) #Top_bar .menu>li>a {
    margin: 10px 0;
}

.header-plain:not(.menu-highlight) #Top_bar .menu>li>a span:not(.description) {
    line-height: 70px;
}

.header-fixed #Top_bar .menu>li>a {
    padding: 20px 0;
}

#Top_bar .top_bar_right,
.header-plain #Top_bar .top_bar_right {
    height: 70px;
}

#Top_bar .top_bar_right_wrapper {
    top: 15px;
}

.header-plain #Top_bar a#header_cart,
.header-plain #Top_bar a#search_button,
.header-plain #Top_bar .wpml-languages,
.header-plain #Top_bar a.button.action_button {
    line-height: 70px;
}

.header-plain #Top_bar .wpml-languages,
.header-plain #Top_bar a.button.action_button {
    height: 70px;
}

@media only screen and (max-width: 767px) {
    #Top_bar a.responsive-menu-toggle {
        top: 35px;
    }

    .mobile-header-mini #Top_bar #logo {
        height: 50px !important;
        line-height: 50px !important;
        margin: 5px 0 !important;
    }

    .mobile-sticky #Top_bar.is-sticky #logo {
        height: 50px !important;
        line-height: 50px !important;
        margin: 5px 50px;
    }
}

.twentytwenty-before-label::before {
    content: "Before";
}

.twentytwenty-after-label::before {
    content: "After";
}

.blog-teaser li .desc-wrapper .desc {
    background-position-y: -1px;
}

.blog_slider .date_label:after {
    display: none;
}

#Subheader {
    border-bottom: 1px solid #afb5b9;
}

#Subheader:after {
    display: none;
}

.tabs-services h4.title {
    margin: 50px 0px;
}

body.header-below:not(.template-slider) #Header {
    padding-top: 0px;
}

.section-post-related {
    margin-bottom: 30px;
}

.section-post-comments {
    margin-bottom: 20px;
}

#Top_bar {
    border-bottom: 1px solid #666;
}

#Top_bar .menu_wrapper {
    float: right;
}

#Filters .filters_wrapper ul li.current-cat a {
    background: none;
}

#Filters .filters_wrapper ul {
    text-align: center;
}

#Filters .filters_wrapper ul li {
    display: inline;
}

#Filters .filters_wrapper ul li a {
    color: #ddd;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 15px;
    position: relative;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0);
}

#Filters .filters_wrapper ul li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ed6123;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
}

#Filters .filters_wrapper ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: #ed6123;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#Filters .filters_wrapper ul li a:hover {
    background: none;
}

#Filters .filters_wrapper ul li a:hover::before {
    top: 100%;
    opacity: 1;
}

#Filters .filters_wrapper ul li a:hover::after {
    height: 100%;
}

@media only screen and (max-width: 767px) {
    #Filters .filters_wrapper ul li a {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        float: none;
    }

    #Filters .filters_wrapper ul li {
        float: none;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    #Filters .filters_wrapper ul li {
        float: none;
    }
}

.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
    background: rgba(0, 0, 0, 0.8);
}

.team-avatar {
    margin-bottom: 0px;
}